.oHead{width:245px;height:30px;line-height:30px;margin:0 auto;font-size:24px;}

#banTun{border-bottom:1px solid #f1f1f1;}
#banTun img{width:100%;}

/*  修改输出屏大小  */
#anim .banner {/*  修改输出屏大小  */ width: 100%; height: 500px; overflow: hidden; position: relative; margin-left: auto; margin-right: auto;margin:0 auto; }
#anim .banner .img { width: 99999px; position: absolute; left: 0px; top: 0; }
#anim .banner .img li { float: left;}
#anim .banner .img img {height: 500px; }

/*/ 小圆圈 /*/
#anim .banner .num { position: absolute; width: 100%; bottom: 10px; left: 0; text-align: center; font-size: 0px; }
#anim .banner .num li { width: 100px; height: 8px; background: #fff;border-radius:4px;  display: inline-block; margin: 0 3px; cursor: pointer; opacity:0.8;}
#anim .banner .num li.on { background: #F60; }
/*/ 按钮 /*/
#anim .banner .btn { width: 45px; height: 85px; background:#c4c5c2; position: absolute; top: 50%; margin-top: -42px; cursor: pointer; text-align: center; line-height: 85px; color: #fff; font-size: 40px; font-family: "宋体";display:none;
}
#anim .banner:hover .btn { display: block;}
#anim .banner .btn_l { left: 0px; }
#anim .banner .btn_r { right: 0px; }

.toux{height:490px;width:1200px;}
.toux .tuw{width:400px;height:490px;float:left;}
.toux .tuw img{width:390px;height:270px;margin-left:5px;}
.toux .tuw p{width:251px;height:66px;line-height:66px;font-size:23px;text-align:center;color:#5e5e5e;margin:0 auto;}
.toux .tuw .rightm,.toux .tuw .rightm2{line-height:24px;font-size:15px;color:#a0a0a0;text-align:justify;margin:0 auto;}
.toux .tuw .rightm{width:290px;height:150px;}
.toux .tuw .rightm2{width:330px;height:130px;}
.toux .tuw img.imk{width:400px;height:303px;}

#bantu1{height:450px;}
#bantu1 .Tuwen{width:390px;height:450px;position: relative;margin-right:5px;overflow: hidden;}
#bantu1 .Tuwen img{width:390px;height:450px;}
#bantu1 .Tuwen .ppacity{width:390px;height:120px;position: absolute;bottom:0;}
#bantu1 .Tuwen .ppacity .opacit{width:390px;height:120px;background: #171310;opacity: 0.5;}
#bantu1 .Tuwen .ppacity p.titm{width:360px;padding:0 15px;height:40px;line-height:40px;font-size:22px;position: absolute;top:0;left:0;z-index:3;color:#fff;}
#bantu1 .Tuwen .ppacity p.comtn{width:360px;padding:0 15px;height:80px;line-height:24px;font-size:16px;position: absolute;top:40px;left:0;z-index:3;color:#fff;}

#flm{height:360px;}
.flmt{height:490px;margin-top:80px;}
.contm{padding:0 10px;width:380px;height:360px;}
.contm .top,#flm .contm .bottom{height:180px;width:380px;}
.contm .tle{height:73px;line-height:73px;font-size:23px;color:#343434}
.contm .tco,.contm .tcon{line-height:26px;font-size:15px;color:#343434}
.contm .bottom .tle{text-align:right;padding-right:10px;}
.contm .bottom .tco{width:265px;height:106px;float:right;}
.contm .bottom .tcon{width:278px;height:200px;float:right;}

#logoband{width:1200px;height:60px;margin-bottom:50px;}
#logoband .banner3 { width: 1200px; height: 60px; overflow: hidden; position: relative; margin-left: auto; margin-right: auto;margin:0 auto; }
#logoband .banner3 .img { width: 99999px; position: absolute; left: 0px; top: 0px; }
#logoband .banner3 .img li { float: left;}
#logoband .banner3 .img .l{height: 60px;}
.gray1{background: url(../../img/demer.png) no-repeat;width:146px;margin-left:3px;}
.gray2{background: url(../../img/love.png) no-repeat;width:146px;}
.gray3{background: url(../../img/yoyo.png) no-repeat;width:146px;}
.gray4{background: url(../../img/happy.png) no-repeat;width:146px;}
.gray5{background: url(../../img/home.png) no-repeat;width:146px;}
.gray6{background: url(../../img/open.png) no-repeat;width:146px;}
.gray7{background: url(../../img/dio.png) no-repeat;width:146px;}
.gray8{background: url(../../img/last.png) no-repeat;width:146px;}
.world{width:210px;height:110px;line-height:110px;font-size:25px;margin:0 auto;}

































