<link rel="stylesheet" type="text/css" href="views/TeamMatron/TeamMatron.css"/>
<P ng-include="'views/commonArea/html/header.html'"></P>
<P ng-include="'views/commonArea/html/rightScrollBlock.html'"></P>
			<div id="anim">
			  <div class="banner">
			    <ul class="img">
			      <li><a href="#/fuck"><img src="img/月嫂团队-1.jpg"></a></li>
			      <li><a href="#/fuck"><img src="img/月嫂团队-2.jpg"></a></li>
			      <li><a href="#/fuck"><img src="img/月嫂团队-3.jpg"></a></li>
			    </ul>
			    <ul class="num">
			    </ul>
			    <div class="btn btn_l">&lt;</div>
			    <div class="btn btn_r">&gt;</div>
			 </div>
	            
			</div>	
	<div id="naver" class="w kk">
		<a href="#/index">您的位置： 首页 - </a><span>月嫂风采</span>
	</div>


	<p class="oHeader">好娘家21条嫂规</p>
	<p class="oDes">SERVICE RULES</p>	
	<p class="oDesN">用军事化的规范 成为你想成为的人</p>	
	<div id="secn" class="w">
		<img src="img/mem.png"/>
		<div class="pai">
			<div class="dn">
				<div class="leftm l">2</div>
				<div class="rightm l">你不能上网或是长时间打电话，也不能在打电话时旁若无人地大声喧哗，不<br/>要让自己成为被“攻击”的目标</div>
			</div>
			<div class="dn">
				<div class="leftm l">3</div>
				<div class="rightm l">一旦你不小心进入了家庭关系紧张的“雷区”，也不要过于担心。如果你不能成为“拆弹专家”，<br/>那就小心点，少说话。</div>				
			</div>
			<div class="dn">
				<div class="leftm l">4</div>
				<div class="rightm l">不要把观念与你不同的老人假象成你的敌人，对他们必须使用敬语“您”，捧着她们、哄好她们。<br/>这样，你才能在她们眼皮子底下展现自己的专业技能，顺利地完成任务。</div>				
			</div>
		</div>
		<div class="toux">
			<div class="tuw">
				<img src="img/tx1.png"/>
				<p>2.与网络绝缘</p>
			</div>
			<div class="tuw">
				<img src="img/tx2.png"/>
				<p>3.沉默一下</p>
			</div>
			<div class="tuw">
				<img src="img/tx3.png"/>
				<p>4."您"好</p>
			</div>
		</div>
		<img src="img/yuo.png"/>
		<img src="img/yuo2.png"/>
		<div id="bantu1" class="w">
			<div class="Tuwen l">	
				<img src="img/jj1.png"/>
				<div class="ppacity">
					<div class="opacit"></div>
					<p class="titm">8 手指空空</p>
					<p class="comtn">越简单越不容易犯错。在工作时，项链、耳环、戒指、手镯、手表都是多余的。记住，一周必须剪一次指甲，你怀里身边的小家伙是无价之宝。</p>
				</div>
	
			</div>		
			<div class="Tuwen l">	
				<img src="img/jj2.png"/>
				<div class="ppacity">
					<div class="opacit"></div>
					<p class="titm">9 不要忘记团队</p>
					<p class="comtn">你不是超人，你的身后有一支庞大的专家团队。每天穿上公司统一制作的漂亮护理服提醒自己，你不是一个人在战斗。</p>

				</div>
	
			</div>		
			<div class="Tuwen l">	
				<img src="img/jj4.png"/>
				<div class="ppacity">
					<div class="opacit"></div>
					<p class="titm">10 干净如宝宝</p>
					<p class="comtn">两天必须洗一次头，不能使用香水，也不能使用化妆品，宝宝的肌肤比你想象得更敏感。</p>

				</div>
	
			</div>		
		</div>	
		<img src="img/fly.png" style="margin-top:80px;margin-bottom:86px;"/>
		<div id="flm">
			<img src="img/le.png" class="l"/>
			<div class="contm l">
				<div class="top">
					<p class="tle">12.伸手只奉献</p>
					<p class="tco">不得向客户借钱或索要东西。可以确信，你将<br/>失去的一定会比得到的更多。</p>
				</div>
				<div class="bottom">
					<p class="tle">13.诚实更容易</p>
					<p class="tco">如果你不小心毁损物品，不要紧张，不要隐瞒，诚实地告知客户；在你离开的时候，你需要提醒客户检查你随身携带的物品。</p>
				</div>
			</div>
			<img src="img/re.png" class="r"/>
		</div>
		<img src="img/nomore.png" style="margin-bottom:75px;"/>
		
		<div class="pai">
			<div class="dn">
				<div class="leftm l">15</div>
				<div class="rightm l hu">母爱是不可替代的。你的任务是让孩子在心理上更依恋妈妈，而不是你。</div>
			</div>
			<div class="dn">
				<div class="leftm l">16</div>
				<div class="rightm l">你需要每天填写一堆表格，写工作日志，这可能有些麻烦，但这能让你的服务准确无误，<br/>你的服务等级与每一次服务质量是挂钩的。</div>				
			</div>
			<div class="dn">
				<div class="leftm l">17</div>
				<div class="rightm l">你不是铁人，如果遇到生病等特殊情况，不能继续工作，你必须向客户和公司说明情况，<br/>公司会与客户进行沟通。否则，严重后果将由你自己承担。</div>				
			</div>
		</div>	
		<div class="toux">
			<div class="tuw">
				<img src="img/lo1.png"/>
				<p>15.看，妈妈！</p>
			</div>
			<div class="tuw">
				<img src="img/lo2.png"/>
				<p>16.麻烦也得做</p>
			</div>
			<div class="tuw">
				<img src="img/lo3.png"/>
				<p>17.你不是铁人</p>
			</div>
		</div>
		<img src="img/upm.png"/>
		
		
		<div id="flmt">
			<img src="img/pri.png" class="l"/>
			<div class="contm l">
				<div class="top">
					<p class="tle">19.不要自己挖坑</p>
					<p class="tco">公司已经与客户签订了具有法律效力的《协<br/>议》，如果你与客户签了有违《协议》的私<br/>自约定，你不仅会陷入孤军奋战的境地，还<br/>可能会有法律上的麻烦。</p>
				</div>
				<div class="bottom">
					<p class="tle">20.准时是第一张脸</p>
					<p class="tcon">如果在约定达到的时间，你还在赶往客户家的路上，或是还没有出发，对不起，你的服务已经被自然终止了，公司会派更遵守时间的人去提供准时的服务。公司还会定期与客户进行沟通，你的服务会得到公正而客观的评价。</p>
				</div>
			</div>
			<img src="img/pri2.png" class="r"/>
		</div>


	</div>

	<img src="img/bop.png" style="margin-bottom:120px;"/>

	
<P ng-include="'views/commonArea/html/footer.html'"></P>