.oDesN{width:245px;height:16px;line-height:16px;margin:0 auto;margin-bottom:43px;}
.oHeader{margin-top:60px;}

#banTun{border-bottom:1px solid #f1f1f1;}
#banTun img{width:100%;}

/*  修改输出屏大小  */
.banner {/*  修改输出屏大小  */ width: 100%; height: 500px; overflow: hidden; position: relative; margin-left: auto; margin-right: auto;margin:0 auto; }
.banner .img { width: 99999px; position: absolute; left: 0px; top: 0; }
.banner .img li { float: left;}
.banner .img img {height: 650px; }

/*/ 小圆圈 /*/
.banner .num { position: absolute; width: 100%; bottom: 10px; left: 0; text-align: center; font-size: 0px; }
.banner .num li { width: 100px; height: 8px; background: #fff;border-radius:4px;  display: inline-block; margin: 0 3px; cursor: pointer; opacity:0.8;}
.banner .num li.on { background: #F60; }
/*/ 按钮 /*/
.banner .btn { width: 45px; height: 85px; background:#c4c5c2; position: absolute; top: 50%; margin-top: -42px; cursor: pointer; text-align: center; line-height: 85px; color: #fff; font-size: 40px; font-family: "宋体";display:none;
}
.banner:hover .btn { display: block;}
.banner .btn_l { left: 0px; }
.banner .btn_r { right: 0px; }


.pai{width:950px;height:285px;padding:66px 0px 0px 238px;}
.pai .dn{height:48px;width:950px;margin-bottom:24px;}
.pai .dn .leftm{height:35px;line-height:35px;margin-top:6px;width:39px;border-right:1px solid #999999;font-size:18px;color:#343434;margin-right:22px;}
.pai .dn .rightm{line-height:24px;font-size:15px;color:#a0a0a0}
.pai .dn .hu{margin-top:12px;}
.toux{height:341px;width:1050px;padding-left:142px;margin-bottom:5px;}
.toux .tuw{width:252px;height:341px;margin-right:84px;float:left;}
.toux .tuw img{width:251px;height:251px;}
.toux .tuw p{width:251px;height:90px;line-height:90px;font-size:18px;text-align:center;color:#5e5e5e}

#bantu1{height:450px;}
#bantu1 .Tuwen{width:390px;height:450px;position: relative;margin-right:5px;overflow: hidden;}
#bantu1 .Tuwen img{width:390px;height:450px;}
#bantu1 .Tuwen .ppacity{width:390px;height:120px;position: absolute;bottom:0;}
#bantu1 .Tuwen .ppacity .opacit{width:390px;height:120px;background: #171310;opacity: 0.5;}
#bantu1 .Tuwen .ppacity p.titm{width:360px;padding:0 15px;height:40px;line-height:40px;font-size:22px;position: absolute;top:0;left:0;z-index:3;color:#fff;}
#bantu1 .Tuwen .ppacity p.comtn{width:360px;padding:0 15px;height:80px;line-height:24px;font-size:16px;position: absolute;top:40px;left:0;z-index:3;color:#fff;}

#flm{height:360px;margin-bottom:104px;}
#flmt{height:490px;margin-bottom:120px;}
.contm{padding:0 10px;width:380px;height:360px;}
.contm .top,#flm .contm .bottom{height:180px;width:380px;}
.contm .tle{height:73px;line-height:73px;font-size:23px;color:#343434}
.contm .tco,.contm .tcon{line-height:26px;font-size:15px;color:#343434}
.contm .bottom .tle{text-align:right;padding-right:10px;}
.contm .bottom .tco{width:265px;height:106px;float:right;}
.contm .bottom .tcon{width:278px;height:200px;float:right;}



































