<link rel="stylesheet" type="text/css" href="views/Cooperation/Cooperation.css"/>
<P ng-include="'views/commonArea/html/header.html'"></P>
<P ng-include="'views/commonArea/html/rightScrollBlock.html'"></P>
<div id="banTun">
	<a href="{{imgUrl}}"><img ng-src="{{cooperImg}}" class="bannerImg"/></a>
	<div id="naver" class="w">
		<a href="#/index">您的位置： 首页 - </a><span>合作加盟</span>
	</div>
</div>
<!--<div id="num" class="w">
	<p class="pop1">中国人口即将突破<span>1400000000</span>人</p>
	<p class="pop2">每年诞生婴儿即将突破<span>18000000</span>人</p>
	<p class="pop3">每年月嫂岗位超过<span>600000</span>人</p>
	<p class="pop4">符合专业标准的却不足<span>20</span>%</p>
</div>-->
	<p class="pn">市场需求大 行业前景好</p>
	<img src="img/up.png"/ im="im1">
	<p class="pk">好娘家优势</p>
	<p class="pk1">好娘家系出名门，是十年母婴名企"亦蓁母婴集团"基于高端月嫂品牌"爱的果实"多年月嫂服务经验而创立，</p>
	<p class="pk2">以提供优质月嫂、育儿嫂、催乳等家庭母婴服务，跨境母婴产品为主体业务，将亦蓁母婴的优势推向全国。</p>
	<img src="img/youshi.png"/ im="im2">
		

<div id="youshi" class="w">
	<p pp="pm1">支持体系优势</p>
	<p pp="pm3">强大的师资力量</p>
	<p pp="pm4">对门店人员及服务人员进行专业系统训练</p>
	<p pp="pm5">保障好娘家标准化的服务体系</p>
	<p pp="pm6"><span>开业前：</span>门店销售、管理 及培训团队全部通过上海总部的系统训练</p>
	<p pp="pm7"><span>营业中：</span>总部远程视频授课系统，对当地雇员随时进行后续的指导</p>
</div>
<div id="tPian" class="w">
	<img src="img/px.png"/>
</div>
	<p class="pg">7大营运支持 经营水到渠成</p>
	<img src="img/hao.png"/ im="im3">

	<div class="w" id="shop">
		<p waDin="wa1">门店展示</p>
	</div>
			<div class="bammer w">
			  <div class="banner2">
			    <ul class="img">
			    	<li ng-click="maptest()">
			    		<div class="blockn1 l">
			    			<div class="overF">		    				
				    			<div class="wwwd1"></div>
			    			</div>
			    		</div>
			    		<div class="blockn2 l">
			    			<div class="overF">		    				
				    			<div class="wwwd2"></div>
			    			</div>		    				
			    						    			
			    		</div>
			    		<div class="blockn3 l">
			    			<div class="overF">		    				
				    			<div class="wwwd3"></div>
			    			</div>	    				
			    						    			
			    		</div>
			    	</li>
			    	
			    </ul>
			    <ul class="num">
			    </ul>
			    <div class="btn"></div>
			    <div class="btn2"></div>
			    <div class="btn_l mouse">&lt;</div>
			    <div class="btn_r mouse">&gt;</div>
			 </div>
	            
			</div>		
		<!--lll-->

	<p class="pu">加盟模式</p>	
	<img src="img/kll.png"/ style="margin:0 auto;margin-bottom:125px;">
	<p class="oHe">加盟流程</p>
	<img src="img/jmlc.png"/ style="margin:0 auto;">
	<div id="wenzi">
		<p wz="w1">咨询加盟政策</p>
		<p wz="w2">提交加盟申请</p>
		<p wz="w3">通过初审</p>
		<p wz="w4">提交市场调研报告</p>
		<p wz="w5">通过审核</p>
		<p wz="w6">正式签约</p>
	</div>

	<p class="oHeader">我想加盟</p>
	<p class="line">加盟热线400-668-0707</p>	
	<div id="fill" class="w">
			<p class="po"><span class="ddd">联系人</span><input type="text" class="inm ck1"/></p>
			<p><span>联系电话</span><input type="text" class="inm ck2"/></p>
			<p><span>加盟城市</span><input type="text" class="inm ck3" /></p>			

			<div class="chex">
				<span style="margin-right:34px;">加盟类型</span>
				<input type="checkbox" checked id="cl1"/><span class="ri mm">城市代理</span>
				<input type="checkbox" id="cl2"/><span class="ri">单店加盟</span>
			</div>
			<div class="btnm" ng-click = "submit()">提交</div>			

	</div>
	
	

<P ng-include="'views/commonArea/html/footer.html'"></P>
<P ng-include="'views/commonArea/html/baidutongji.html'"></P>