
/*#num{height:200px;padding-top:96px;border-top:1px solid #f1f1f1;background:#f7f7f7;text-align:center;}
#num p{font-size:20px;height:50px;line-height:50px;color:#181818;}
#num p span{font-size:38px;height:50px;line-height:50px;color:#e85a5e}*/
.pn{width:280px;height:180px;line-height:180px;font-size:25px;margin:0 auto;margin-top:20px;font-weight:bold;}
[im="im1"],[im="im2"],[im="im3"]{margin:0 auto;}
[im="im1"]{width:1200px;height:451px;}
.pk{width:136px;height:122px;line-height:122px;font-size:25px;margin:0 auto;margin-top:50px;font-weight:bold;}
.pk1,.pk2{width:848px;height:36px;line-height:36px;font-size:18px;margin:0 auto;}
[im="im2"]{width:1200px;height:684px;}
.pg{width:318px;height:156px;line-height:156px;font-size:25px;margin:0 auto;margin-top:82px;font-weight:bold;}
[im="im3"]{width:1210px;height:512px;}

#youshi{height:230px;margin-bottom:15px;}
#youshi [pp]{text-align:center;line-height:34px;font-size:16px;}
#youshi [pp] span{font-weight:bold;}
#youshi [pp="pm1"]{font-size:26px;line-height:26px;font-weight:bold;margin-bottom:38px;}

#shop{margin-top:110px;}
[waDin="wa1"]{font-size:26px;text-align:center;color:#343434;font-weight:bold;margin-bottom:33px;}

.pu{width:115px;height:75px;line-height:75px;font-size:25px;margin:0 auto;font-weight:bold;}

#wenzi{height:55px;width:1200px;margin:0 auto;margin-bottom:60px;}
#wenzi [wz]{height:55px;line-height:23px;font-weight:bold;float:left;}
#wenzi [wz="w1"]{margin-right:129px;}
#wenzi [wz="w2"]{margin-right:144px;}
#wenzi [wz="w3"]{margin-right:123px;}
#wenzi [wz="w4"]{margin-right:124px;}
#wenzi [wz="w5"]{margin-right:150px;}

.oHe{font-size:25px;height:25px;line-height:25px;font-weight:bold;text-align:center;margin-bottom:30px;}
.line{font-size:16px;height:50px;line-height:50px;text-align:center;}
#fill{height:468px;width:898px;margin:0 auto;margin-top:18px;border:1px solid #c5c5c5;background: url(../../img/fill.png);background-size:100% 100%;margin-bottom:80px;}
#fill .btnm{width:226px;height:44px;border:1px solid #d3d3d3;text-align: center;line-height:44px;font-size:14px;color:#7f7f7f;cursor: pointer;}
#fill .chex{height:25px;line-height:25px;width:600px;padding-bottom:29px;margin-left:25px;padding-left:243px;border-bottom:1px solid #aeacad;font-size:15px;}
.ri{display:inline-block;margin-left:4px;border-radius:10px;}
.mm{display:inline-block;margin-right:50px;}
#fill p{width:404px;font-size:15px;height:45px;line-height:45px;margin-bottom:40px;margin-left:268px;}
#fill p.po{margin-top:42px;}
#fill p span{display:inline-block;margin-right:18px;}
#fill p span.ddd{margin-right:30px;}
#fill .inm{width:280px;height:45px;padding-left:10px;}
#fill .btnm{position:relative;top:40px;left:348px;background:#ff7d70;width:180px;height:38px;line-height:38px;border:0;color:#fff;}


 .banner2 {/*  修改输出屏大小  */ width: 1200px; height: 320px; overflow: hidden; position: relative; margin-left: auto; margin-right: auto;margin:0 auto; }
 .banner2 .img { width: 99999px; position: absolute; left: 0px; top: 0; }
 .banner2 .img li { float: left;}
 .banner2 .img img {height: 320px;width:1200px;}
 .banner2 li .blockn1, .banner2 li .blockn2, .banner2 li .blockn3{width:390px;height:320px;margin-right:15px;}
 .banner2 li .blockn3{margin-right:0;}
 .banner2 li .overF{width:390px;height:230px;overflow:hidden;margin-bottom:25px;}
 .banner2 li .wwwd1{width:390px;height:230px;background: url(../../img/yp.jpg);transition: all 1s;}
 .banner2 li .wwwd1:hover,.wwwd2:hover,.wwwd3:hover,.wd2:hover,.wd3:hover{transform: scale(1.2);}
 .banner2 li .wwwd2{width:390px;height:230px;background: url(../../img/md2.jpg);transition: all 1s;}
 .banner2 li .wwwd3{width:390px;height:230px;background: url(../../img/md3.jpg);background-size:100%;transition: all 1s;}
.wd2{width:390px;height:230px;background: url(../../img/dl.jpg);transition: all 1s;}
.wd3{width:390px;height:230px;background: url(../../img/tu.jpg);transition: all 1s;}
/*/ 小圆圈 /*/
/* .banner2 .num { position: absolute; width: 100%; bottom: 10px; left: 0; text-align: center; font-size: 0px; }
 .banner2 .num li { width: 100px; height: 8px; background: #fff;border-radius:4px;  display: inline-block; margin: 0 3px; cursor: pointer; opacity:0.8;}
 .banner2 .num li.on { background: #F60; }*/
/*/ 按钮 /*/
 .banner2 .btn, .banner2 .btn2 { width: 36px; height: 36px;border-radius:50px; background:#cecece;opacity:0.6; position: absolute; top: 50%; margin-top: -59px; cursor: pointer; text-align: center; line-height: 36px; color: #fff; font-size: 20px; font-family: "宋体";
}
 .banner2 .btn{left:15px;}
 .banner2 .btn2{right:15px;}
/* .banner2:hover .btn { display: block;}*/
 .banner2 .btn_l, .banner2 .btn_r  { width: 36px; height: 36px; line-height: 36px; position: absolute; top: 34%;color:#fff;text-align:center;margin-top:-9px;font-size:24px;cursor: pointer;}
 .banner2 .btn_l{left:15px;}
 .banner2 .btn_r { right: 15px;} 
.wdTitle{height:20px;line-height:20px;font-size:20px;}
.wdCont{color:#797979;font-size:14px;height:40px;line-height:40px;}
.btn,.btn2{opacity: 0.6}
.mouse{z-index:99;}