<link rel="stylesheet" type="text/css" href="views/test/test.css"/>
<!--百度地图-->
    <!--<div class="demo_main">
        <fieldset class="demo_content">
            <div id="map" class="map"> </div>
        </fieldset>
    </div>-->
    
<div id="topFix">
	<a class="li li1" ng-click="target1()">11</a>
	<a class="li li2" ng-click="target2()">22</a>
	<a class="li li3" ng-click="target3()">33</a>
	<a class="li li4" ng-click="target4()">44</a>
</div>
			<div id="block"></div>	
			
			<div id="eq">
				<div id="banmer">
				  <div class="banner">
				    <ul class="img">
				      <li><a href="#/ServiceMatron">
				      	<img src="img/1.jpg">
				      	<p>1111</p>
				      	<p>1111</p>
				      	<p>1111</p>
				      	<p>1111</p>
				      </a></li>
				      <li><a href="#/ServiceMatron"><img src="img/2.jpg">
				      	<p>222</p>
				      	<p>222</p>
				      	<p>222</p>
				      	<p>222</p>
				      </a></li>
				      <li><a href="#/ServiceMatron"><img src="img/3.jpg">
				      	<p>333</p>
				      	<p>333</p>
				      	<p>333</p>
				      	<p>333</p>
				      </a></li>
				    </ul>
				    <ul class="num"></ul>
				 </div>
			    <div class="btn btn_l">&lt;&lt;</div>
			    <div class="btn btn_r">&gt;&gt;</div>  
				</div>			
				
			</div>	
			

			<div id="eq1">
				
		<!--三级联动省市区-->
				<!--<button id='showUserPicker' class="mui-btn mui-btn-block" type='button'>一级选择示例 ...</button>
				<div id='userResult' class="ui-alert"></div>-->
				<button id='showCityPicker3' type='button'>三级联动省市区</button>
				<div id='cityResult3'></div>	
		<!--时间选择器-->	
				<input id='demo1' data-options='{"type":"date","beginYear":1900,"endYear":2100}' class="btn" type="button" value="选择日期时间 ">
				<input id='demo4' data-options='{"value":"2017-10-10 10:10","type":"date","beginYear":1950,"endYear":2050}' class="btn" type="button" value="选择日期 ">
				<input id='demo5' data-options='{"type":"time"}' class="btn" type="button" value="选择时间 ">
				<input id='demo6' data-options='{"type":"month"}' class="btn" type="button" value="选择月份 ">
				<div id='result' class="ui-alert"></div>				
				
			</div>
			

			<div id="eq2"></div>

			<div id="eq3"></div>

<div id="returnTop">return</div>

 







