<!--百度地图-->
    <!--<div class="demo_main">
        <fieldset class="demo_content">
            <div id="map" class="map"> </div>
        </fieldset>
    </div>-->
<div id="displaym">	
<div class="topFix">
	<a class="li li1" ng-click="target1()">您的好娘家</a>
	<a class="li li2" ng-click="target2()">月嫂服务</a>
	<a class="li li3" ng-click="target3()">合作加盟</a>
	<a class="li li4" ng-click="target4()">关于我们</a>
</div>
</div>
<div id="block">
<div id="logen">
	<img src="img/logen.png"/>
</div>
<div id="swiperkkkkk">
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
        	<a class="aa" href="#/activity_phone"></a>
        </div>
        <div class="swiper-slide">
        	<a class="ab" href="#/activity_phone"></a>
        </div>
        <div class="swiper-slide">
        	<a class="ac" href="#/activity_phone"></a>
        </div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
    
    <!-- 如果需要导航按钮 -->
    <!--<div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>-->
    
    <!-- 如果需要滚动条 -->
    <!--<div class="swiper-scrollbar"></div>-->
</div>				
</div>

<div id="nav">
	<a class="li li1" ng-click="target1()">您的好娘家</a>
	<a class="li li2" ng-click="target2()">月嫂服务</a>
	<a class="li li3" ng-click="target3()">合作加盟</a>
	<a class="li li4" ng-click="target4()">关于我们</a>					
</div>

</div>	
			
<div id="eq">
<div id="showBand">
	<img class="imh" src="img/show1.png"/>
	<img class="imh"  src="img/show2.png"/>
	<img class="imh"  src="img/show3.png"/>
	<img class="imh"  src="img/show4.png"/>
	<img class="img"  src="img/show5.png"/>
</div>
</div>	
			

<div id="eq1">
	<div class="ysfw">
		<p>月嫂服务</p>
		<img src="img/san.png"/>
	</div>
	<div id="banmer">
	    <ul class="num">
	    	<li>经济型</li>
	    	<li>舒适型</li>
	    	<li>尊享型</li>
	    </ul>
	  <div class="banner">
	    <ul class="img">
	      <li>
	      	<img src="img/a1.png">
	      	<div class="pri">
	      		<p class="l">经济型</p>
	      		<p class="r">7,980元</p>
	      	</div>	
	      	<div class="listm">
	      		<p><span></span>月嫂行业1-3年工作经验</p>
				<p><span></span>服务侧重于妈妈、宝宝的基础护理服务</p>
				<p><span></span>专业的月子餐（三餐）制作</p>
				<p><span></span>基础的头部肩颈按摩</p>	      		
	      	</div>
			</li>
	      <li><img src="img/a2.png">
	      	<div class="pri">
	      		<p class="l">舒适型</p>
	      		<p class="r">9,980元</p>
	      	</div>	
	      	<div class="listm">
				<p><span></span>从事月嫂行业3年及以上，客户满意度高</p>
				<p><span></span>娴熟的产妇、宝宝的基础护理服务</p>
				<p><span></span>专业月子餐（三餐两点）</p>
				<p><span></span>会新生儿早期教育</p>
				<p><span></span>科学指导妈妈恢复形体</p>
				<p><span></span>除基础按摩外，提供专业子宫按摩</p>      		
	      	</div>
	      </li>
	      <li><img src="img/a3.png">
	      	<div class="pri">
	      		<p class="l">尊享型</p>
	      		<p class="r">11,980元</p>
	      	</div>	
	      	<div class="listm">
				<p><span></span>从事月嫂行业5年及以上，客户好评率高</p>
				<p><span></span>技能娴熟，礼仪、情商得到客户的一致好评</p>
				<p><span></span>善于月子餐制作，三餐三点</p>
				<p><span></span>会小儿推拿，解决宝宝常见小问题</p>
				<p><span></span>科学指导妈妈和宝宝的互动</p>
				<p><span></span>教授新手爸妈育儿护理知识</p>    		
	      	</div>
	      </li>
	    </ul>
	 </div>
    <div class="btnm btn_l"></div>
    <div class="btnm btn_r"></div>  
	</div>			
	
	<div class="submitm" ng-click="know2()">预约享好礼</div>	
	<div class="yuding_progress">
		<p>订购服务流程</p>
		<img src="img/san.png"/>
	</div>
	<img src="img/pro.png" style="width:100%;"/>
	<div class="fwnr">
		<p>服务内容</p>
		<img src="img/san.png"/>
	</div>	
	<div id="pading">
		<ul class="switchShow">
			<li ng-click="Aclick()">产前家庭护理服务</li>+
			<li ng-click="Bclick()">分娩期医院护理服务</li>+
			<li ng-click="Cclick()">月子期家庭护理服务</li>
		</ul>
		<div class="serCont">
			<div class="SCA" ng-show="sca"></div>
			<div class="SCB" ng-show="scb"></div>
			<div class="SCC" ng-show="scc"></div>
		</div>	
		<div id="baozhang">	
			<div class="yuding_progress">
				<p>全面服务保障</p>
				<img src="img/san.png"/>
			</div>
		</div>
		<div class="baoC">
			<img src="img/va.png"/>			
		</div>

	</div>

</div>



<div id="eq2">
	<div id="liuc">	
	<div class="ysfw">
		<p>加盟流程</p>
		<img src="img/san.png"/>
	</div>			
	</div>
	<img src="img/liuc.png" style="width:15.36rem;margin:0 auto;"/>
	<img src="img/ditu.png" style="width:100%;"/>		

</div>

<div id="eq3">
	<div id="about">	
	<div class="ysfw">
		<p>关于我们</p>
		<img src="img/san.png"/>
	</div>			
	</div>
	<img src="img/ab1.png" style="width:100%;"/>
	<img src="img/ab2.png" style="width:100%;"/>
	<div id="zuji">	
	<div class="ysfw">
		<p>企业足迹</p>
		<img src="img/san.png"/>
	</div>			
	</div>	
	<img src="img/zuji.png" style="width:100%;"/>
	<div id="detail_pro">
		<div class="header-title">
			<div class="header-left l">
				<img src="img/head-top.png"/>
				<img src="img/head-bottom.png"/>
			</div>
			<div class="header-right l">集团发展历程</div>
		</div>
		<div class="content-pro">
			<div class="float-left l">2007年2月</div>
			<img src="img/cont.png" class="l"/>
			<div class="float-right l">Cocodemer 珂珂朵谧高端产后修复品牌创立</div>
		</div>
		<div class="content-pro">
			<div class="float-left l">2012年1月</div>
			<img src="img/cont.png" class="l"/>
			<div class="float-right l">Cocolove 爱的果实高端月嫂品牌创立</div>
		</div>
		<div class="content-pro">
			<div class="float-left l">2013年9月</div>
			<img src="img/cont.png" class="l"/>
			<div class="float-right l">集团迁至淮海西路1000 平米办公区</div>
		</div>
		<div class="content-pro">
			<div class="float-left l">2015年2月</div>
			<img src="img/cont.png" class="l"/>
			<div class="float-right l">集团乔迁至6000 平米5 层办公楼</div>
		</div>
		
		<div class="header-title">
			<div class="header-left l">
				<img src="img/head-top.png"/>
				<img src="img/head-bottom.png"/>
			</div>
			<div class="header-right l">建立标准化培训中心,员工突破2千人</div>
		</div>
		<div class="content-pro">
			<div class="float-left l">2015年3月</div>
			<img src="img/cont.png" class="l"/>
			<div class="float-right l">Cocohome 好娘家月嫂品牌创立</div>
		</div>
		<div class="content-pro">
			<div class="float-left l">2015年4月</div>
			<img src="img/cont.png" class="l"/>
			<div class="float-right l">收购芝麻开门高端儿童摄影品牌</div>
		</div>
		<div class="content-pro">
			<div class="float-left l">2015年4月</div>
			<img src="img/cont.png" class="l"/>
			<div class="float-right l">蓁爱高端月子会所品牌创立</div>
		</div>
		<div class="content-pro">
			<div class="float-left l">2016年7月</div>
			<img src="img/cont.png" class="l"/>
			<div class="float-right l">杭州互联网公司成立</div>
		</div>
		<div class="content-pro">
			<div class="float-left l">2017年1月</div>
			<img src="img/cont.png" class="l"/>
			<div class="float-right l">集团启动IPO</div>
		</div>
		<div class="header-title">
			<div class="header-left l">
				<img src="img/head-top.png"/>
			</div>
			<div class="header-right l">线上线下立体发展</div>
		</div>
		
	</div>
	<div class="col"></div>
	<div id="Company-band">	
	<div class="ysfw">
		<p>集团品牌</p>
		<img src="img/san.png"/>
	</div>			
	</div>	
	<img class="pingpai" src="img/pingpai.png"/>
	<div class="foo">
		<img src="img/foo.png"/>
		<div id="returnT"></div>
	</div>
	
</div>
<div id="footerg">
	<div class="foot-left l" ><a href="http://www.haoniangjia.cn/dialog_3.htm">咨询客服</a></div>
	<div class="foot-right l" ng-click="konw()">立即预约</div>
</div>
<div style="height:1.83rem;width:100%;"></div>	

<P ng-include="'views/commonArea/html/baidutongji.html'"></P>