<link rel="stylesheet" type="text/css" href="views/test/test.css"/>
<!--百度地图-->
    <!--<div class="demo_main">
        <fieldset class="demo_content">
            <div id="map" class="map"> </div>
        </fieldset>
    </div>-->
    
<div class="topFix">
	<a class="li li1" ng-click="target1()">11</a>
	<a class="li li2" ng-click="target2()">22</a>
	<a class="li li3" ng-click="target3()">33</a>
	<a class="li li4" ng-click="target4()">44</a>
</div>
<div id="block">
<div id="logen">
	<img src="img/logen.png"/>
</div>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
        	<a href="#/activity_phone"></a>
        </div>
        <div class="swiper-slide">
        	<a href="#/activity_phone"></a>
        </div>
        <div class="swiper-slide">
        	<a href="#/activity_phone"></a>
        </div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
    
    <!-- 如果需要导航按钮 -->
    <!--<div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>-->
    
    <!-- 如果需要滚动条 -->
    <!--<div class="swiper-scrollbar"></div>-->
</div>				
	
<div id="nav">
	<a class="li li1" ng-click="target1()">11</a>
	<a class="li li2" ng-click="target2()">22</a>
	<a class="li li3" ng-click="target3()">33</a>
	<a class="li li4" ng-click="target4()">44</a>					
</div>
<div id="showBand">
	<img class="imh" src="img/show1.png"/>
	<img class="imh"  src="img/show2.png"/>
	<img class="imh"  src="img/show3.png"/>
	<img class="imh"  src="img/show4.png"/>
	<img class="img"  src="img/show5.png"/>
</div>
</div>	
			
<div id="eq">
	<div class="ysfw">
		<p>月嫂服务</p>
		<img src="img/san.png"/>
	</div>
	<div id="banmer">
	    <ul class="num">
	    	<li>经济型</li>
	    	<li>舒适型</li>
	    	<li>尊享型</li>
	    </ul>
	  <div class="banner">
	    <ul class="img">
	      <li>
	      	<img src="img/a1.png">
	      	<div class="pri">
	      		<p class="l">经济型</p>
	      		<p class="r">7,980元</p>
	      	</div>	
	      	<div class="listm">
	      		<p><span></span>月嫂行业1-3年工作经验</p>
				<p><span></span>服务侧重于妈妈、宝宝的基础护理</p>
				<p style="margin-left:0.2rem;">服务</p>
				<p><span></span>专业的月子餐（三餐）制作</p>
				<p><span></span>基础的头部肩颈按摩</p>	      		
	      	</div>
			</li>
	      <li><img src="img/a1.png">
	      	<div class="pri">
	      		<p class="l">舒适型</p>
	      		<p class="r">9,980元</p>
	      	</div>	
	      	<div class="listm">
				<p><span></span>从事月嫂行业3年及以上，客户满意</p>
				<p style="margin-left:0.2rem;">度高</p>
				<p><span></span>娴熟的产妇、宝宝的基础护理服务</p>
				<p><span></span>专业月子餐（三餐两点）</p>
				<p><span></span>会新生儿早期教育</p>
				<p><span></span>科学指导妈妈恢复形体</p>
				<p><span></span>除基础按摩外，提供专业子宫按摩</p>      		
	      	</div>
	      </li>
	      <li><img src="img/a1.png">
	      	<div class="pri">
	      		<p class="l">尊享型</p>
	      		<p class="r">11,980元</p>
	      	</div>	
	      	<div class="listm">
				<p><span></span>从事月嫂行业5年及以上，客户好评</p>
				<p style="margin-left:0.2rem;">率高</p>
				<p><span></span>技能娴熟，礼仪、情商得到客户的</p>
				<p style="margin-left:0.2rem;">一致好评</p>
				<p><span></span>善于月子餐制作，三餐三点</p>
				<p><span></span>会小儿推拿，解决宝宝常见小问题</p>
				<p><span></span>科学指导妈妈和宝宝的互动</p>
				<p><span></span>教授新手爸妈育儿护理知识</p>    		
	      	</div>
	      </li>
	    </ul>
	 </div>
    <div class="btnm btn_l"></div>
    <div class="btnm btn_r"></div>  
	</div>			
	
	<div class="submitm">预约享好礼</div>
</div>	
			

<div id="eq1">
	<div class="yuding_progress">
		<p>订购服务流程</p>
		<img src="img/san.png"/>
	</div>
	<img src="img/pro.png" style="width:100%;"/>
	<div class="fwnr">
		<p>服务内容</p>
		<img src="img/san.png"/>
	</div>	
	<div id="pading">
		<ul class="switchShow">
			<li ng-click="Aclick()">服务A</li>+
			<li ng-click="Bclick()">服务B</li>+
			<li ng-click="Cclick()">服务C</li>
		</ul>
		<div class="serCont">
			<div class="SCA" ng-show="sca"></div>
			<div class="SCB" ng-show="scb">scb</div>
			<div class="SCC" ng-show="scc">scc</div>
		</div>	
		<div id="baozhang">	
			<div class="yuding_progress">
				<p>全面服务保障</p>
				<img src="img/san.png"/>
			</div>
		</div>
		<div class="baoC">
			<li>
				<img src="img/cale1.png"/>
				<p class="head">无理由全额退款</p>
				<p class="cont">预订后，预产期一个月前随时无理由退款</p>
			</li>
			<li><img src="img/cale2.png"/>
				<p class="head">三方保险保障</p>
				<p class="cont">月嫂、客户、公司购买三方保险,确保您的合法利益</p>
			</li>
			<li><img src="img/cale3.png"/>
				<p class="head">免费退换保障</p>
				<p class="cont">服务期间如有不满免费退换</p>
			</li>
			<li><img src="img/cale4.png"/>
				<p class="head">极速退款保障</p>
				<p class="cont">如遇退款情况，承诺工作日24小时内办理</p>
			</li>
		</div>

	</div>

</div>



<div id="eq2">
	<div id="liuc">	
	<div class="ysfw">
		<p>加盟流程</p>
		<img src="img/san.png"/>
	</div>			
	</div>
	<img src="img/liuc.png" style="width:15.36rem;margin:0 auto;"/>
	<img src="img/ditu.png" style="width:100%;"/>		

</div>

<div id="eq3">
	<div id="about">	
	<div class="ysfw">
		<p>关于我们</p>
		<img src="img/san.png"/>
	</div>			
	</div>
	<img src="img/ab1.png" style="width:100%;"/>
	<img src="img/ab2.png" style="width:100%;"/>
	<div id="zuji">	
	<div class="ysfw">
		<p>企业足迹</p>
		<img src="img/san.png"/>
	</div>			
	</div>	
	
	
	
	
</div>

<!--areapicker-->
	<button id='showCityPicker3' type='button'>三级联动省市区</button>
	<div id='cityResult3'></div>	
<!--timepicker-->	
	<input id='demo1' data-options='{"type":"date","beginYear":1900,"endYear":2100}' class="btn" type="button" value="选择日期时间 ">
	<div id='result' class="ui-alert"></div>	

<div id="returnTop">return</div>
<P ng-include="'views/commonArea/html/baidutongji.html'"></P>

 







