	#block{width:100%;height:1000px;}
	#eq{width:100%;height:800px;background: greenyellow;margin-bottom:30px;}
	#eq1{width:100%;height:1300px;background: #ccc;margin-bottom:30px;}
	#eq2{width:100%;height:500px;background: yellowgreen;margin-bottom:30px;}
	#eq3{width:100%;height:800px;background: orange;margin-bottom:30px;}
	
#topFix{width:100%;height:50px;position: fixed;top:0;background: #ccc;z-index:99;}
.li{float:left;height:40px;line-height:40px;width:20%;font-size:30px;text-align:center;}
/*.li:first-child{border-bottom:1px solid red;}*/	

#banmer{width: 300px; height: 600px;position: relative;margin:0 auto;}
#banmer .banner {width: 300px; height: 600px; overflow: hidden; position: relative; margin-left: auto; margin-right: auto;margin:0 auto; }
#banmer .banner .img { width: 99999px; position: absolute; left: 0px; top: 40px; }
#banmer .banner .img li { float: left;}
#banmer .banner .img img {/*height: 300px;*/width:300px;}

/*/ 小圆圈 /*/
#banmer .banner .num { position: absolute; width: 100%; bottom: 10px; left: 0; top:0;text-align: center;}
#banmer .banner .num li { width: 40px; height: 40px; background: #fff;border-radius:60px;  display: inline-block;margin-right:20px; }
#banmer .banner .num li.on { background: #F60; }
/*/ 按钮 /*/
#banmer .btn { width: 45px; height: 85px; position: absolute; top: 50%; margin-top: -42px; cursor: pointer; text-align: center; line-height: 85px; color: #fff; font-size: 40px;
}
#banmer .btn_l { left: -30px; }
#banmer .btn_r { right: -30px; }


#returnTop{width:50px;height:50px;line-height:50px;text-align:center;border-radius: 50px;background: red;position:fixed;bottom:20px;right:5px;font-size:.5rem;}

