<link rel="stylesheet" type="text/css" href="views/execcess/execcess.css"/>
<P ng-include="'views/commonArea/html/header.html'"></P>
<P ng-include="'views/commonArea/html/rightScrollBlock.html'"></P>
<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
<div id="banTun">
	<img src="img/月嫂服务-1.jpg" style="width:100%;"/>
	<div id="naver" class="w">
		<a href="#/index">您的位置： 首页 - </a><span>好娘家月嫂历练记</span>
	</div>
</div>
<!--1-->	
	<p class="oHeader">好月嫂历练记.严格筛选</p>
	<p class="oDes">STRICT SCREENING</p>	
	<p class="oDesN">好娘家月嫂，严格标准，专业品质</p>	
	<div id="bantu1" class="w">
		<div class="Tuwen l">	
			<img src="img/t1.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>精心挑选市场优质月嫂，层层面试把关</p>
			</div>

		</div>		
		<div class="Tuwen l">	
			<img src="img/t2.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>面试合格，进入笔试</p>
			</div>

		</div>		
		<div class="Tuwen l">	
			<img src="img/t3.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>专业技能评审</p>
			</div>

		</div>		
	</div>
	
<!--2-->	
	<p class="oHeader">好月嫂历练记.专业培训</p>
	<p class="oDes">PROFESSIONAL TRAINING</p>
	
	<div id="bantu2" class="w">
		<div class="Tuwen l">	
			<img src="img/as.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>公司文化、理念培训</p>
			</div>

		</div>		
		<div class="Tuwen l">	
			<img src="img/ad.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>责任感、使命感培训</p>
			</div>

		</div>		
		<div class="Tuwen l">	
			<img src="img/af.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>月子餐制作</p>
			</div>

		</div>		
		<div class="Tuwen l">	
			<img src="img/ag.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>细节到每一天的清洁</p>
			</div>

		</div>		
		<div class="Tuwen l">	
			<img src="img/ah.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>宝宝护理</p>
			</div>

		</div>		
		
		<div class="Tuwen l">	
			<img src="img/aj.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>礼仪培训</p>
			</div>

		</div>		
		<div class="Tuwen l">	
			<img src="img/ak.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>心理健康培训</p>
			</div>

		</div>		
	</div>
<!--3-->	
	<p class="oHeader">好月嫂历练记.严格考核</p>
	<p class="oDes">SCRICT ASSESSMENT</p>

	<div id="bantu3" class="w">
		<div class="Tuwen l fir">	
			<img src="img/zx.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>专业知识笔试</p>
			</div>

		</div>		
		<div class="Tuwen l">	
			<img src="img/zc.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>实际操作考评</p>
			</div>

		</div>		
	
	</div>
<!--4-->	
	<p class="oHeader">好月嫂历练记.规范细致</p>
	<p class="oDes">STANDARDIZED AND METICULOUS</p>

	<div id="bantu4" class="w">
		<div class="Tuwen l">	
			<img src="img/qw.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>保持整洁</p>
			</div>

		</div>		
		<div class="Tuwen l">	
			<img src="img/qe.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>检查指甲</p>
			</div>

		</div>		

		<div class="Tuwen l fir">	
			<img src="img/qr.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>卸下首饰</p>
			</div>

		</div>		
		<div class="Tuwen l">	
			<img src="img/qt.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>准时守则</p>
			</div>

		</div>	
	</div>

	<p class="oHeader">加盟店.展示</p>
	<p class="oDes">JFRANCHISE SHOW</p>	
<!--<P ng-include="'views/commonArea/html/bigbanner.html'"></P>-->
	<div id="bigBannerTeam">
			<div class="bammer w">
			  <div class="banner2">
			    <ul class="img">
			    	<li>
			    		<div class="blockn1 l">
			    			<div class="overF">		    				
				    			<div class="wwwd1"></div>
			    			</div>
			    			<p class="wdTitle">好娘家上海杨浦店</p>
			    			<p class="wdCont">上海市杨浦区沈阳路55号（红房子妇产科医院对面）</p>
			    		</div>
			    		<div class="blockn2 l">
			    			<div class="overF">		    				
				    			<div class="wwwd2"></div>
			    			</div>
			    			<p class="wdTitle">好娘家多伦路店</p>
			    			<p class="wdCont">上海虹口区多伦路240号</p>			    				
			    						    			
			    		</div>
			    		<div class="blockn3 l">
			    			<div class="overF">		    				
				    			<div class="wwwd3"></div>
			    			</div>
				    		<p class="wdTitle">全国50多家地标性建筑网点</p>
			    			<p class="wdCont">点击查看</p>		    				
			    						    			
			    		</div>
			    	</li>
			    	
			    </ul>
			    <ul class="num">
			    </ul>
			    <div class="btn"></div>
			    <div class="btn2"></div>
			    <div class="btn_l mouse">&lt;</div>
			    <div class="btn_r mouse">&gt;</div>
			 </div>
	            
			</div>			
	</div>






<div style="height:120px;width:100%;"></div>

















			</div>
		</div>
	</div>
	
<P ng-include="'views/commonArea/html/footer.html'"></P>