/*右滑块*/	
	#div1 {
	width: 56px;
	height: 250px;
	position: absolute;
	right: 20px;
	top:400px;
	z-index:99;
	}	
	.nn{width:56px;height:56px;border-radius: 100px;margin-bottom:2px;cursor: pointer;position:relative;z-index:200;}
	.bk1{background: url(../../img/km.png);}	
	.bk2{background: url(../../img/kn.png);}	
	.bk3{background: url(../../img/kb.png);}	
	.bk4{background: url(../../img/kv.png);}
	.nmb{width:20px;height:28px;line-height:28px;position:absolute;top:133px;right:5px;z-index:100;overflow:hidden;background:url(../../img/bg.png) ;background-size:100% ;color:#fff;}	
/*	.flp{width:50px;height:60px;position:absolute;top:139px;right:0px;z-index:110;background: #fff;}*/

#mianCont{width:100%;overflow-y:auto;}	
/*banner area*/


/*  修改输出屏大小  */
#ban1 .banner {/*  修改输出屏大小  */ width: 100%; height: 650px; overflow: hidden; position: relative; margin-left: auto; margin-right: auto;margin:0 auto; }
#ban1 .banner .img { width: 99999px; position: absolute; left: 0px; top: 0; }
#ban1 .banner .img li { float: left;}
#ban1 .banner .img img {height: 650px;}

/*/ 小圆圈 /*/
#ban1 .banner .num { position: absolute; width: 100%; bottom: 10px; left: 0; text-align: center; font-size: 0px; }
#ban1 .banner .num li { width: 100px; height: 8px; background: #fff;border-radius:4px;  display: inline-block; margin: 0 3px; cursor: pointer; opacity:0.8;}
#ban1 .banner .num li.on { background: #F60; }
/*/ 按钮 /*/
#ban1 .banner .btn { width: 45px; height: 85px; background:#c4c5c2; position: absolute; top: 50%; margin-top: -42px; cursor: pointer; text-align: center; line-height: 85px; color: #fff; font-size: 40px; font-family: "宋体";display:none;
}
#ban1 .banner:hover .btn { display: block;}
#ban1 .banner .btn_l { left: 0px; }
#ban1 .banner .btn_r { right: 0px; }


#bandShow{height:538px;position:relative;margin-bottom: 110px;}
#bandShow ul{width:1200px;height:200px;}
#bandShow li{width:240px;height:150px;text-align:center;padding-top:50px;color:#333;position:relative;}
#bandShow li [numA]{width:240px;height:150px;}
#bandShow li [numB]{font-size:45px;line-height:45px;font-weight:400;margin-bottom: 10px;}
#bandShow li  [posAb]{background:#ff696a;font-size:16px;border-radius: 3px;text-align:center;position:absolute;top:70px;color:#fff;}
#bandShow li  [posAb="abs1"],[posAb="abs2"]{width:18px;}
#bandShow li  [posAb="abs3"],[posAb="abs4"],[posAb="abs5"]{width:18px;}
[posAb="abs1"]{left:150px;}
[posAb="abs2"]{left:137px;}
[posAb="abs3"]{left:150px;}
[posAb="abs4"]{left:209px;}
[posAb="abs5"]{left:183px;}
/*#bandShow li  [posAb="abs1"]{padding-left:44px;}
#bandShow li  [posAb="abs2"]{padding-left:74px;}
#bandShow li  [posAb="abs3"]{padding-left:124px;}*/
#bandShow li p{font-weight:300;}
.posAb #bandShow li{position:absolute;}
[pp="p"]{color:#999;}

.hotPoint1{width:178px;height:52px;position:absolute;right:382px;top:451px;cursor: pointer;}

#serviceLevel{height:100%;margin-bottom:85px;}
#contBoxn{height:430px;}
#contBoxn .box_le{width:900px;height:440px;}
#contBoxn .box_le .opacit{width:297px;height:155px;position:absolute;bottom:0;left:0;z-index:1;background:#fff;opacity: 0.8;}
#eco,#shushi,#zunxiang{width:297px;height:440px;margin-right:4px;float:left;position: relative;overflow:hidden;}
#eco li,#shushi li,#zunxiang li{color:#999;}
#zunxiang{margin-right:0px;}
[contbox="a1"] img,[contbox="a2"] img,[contbox="a3"] img{float:left;}
#eco .economic,#shushi .shu,#zunxiang .zun{width:269px;height:155px;padding-left:28px;overflow:hidden;position:absolute;bottom:0;left:0;z-index:9;}
#zunxiang .zun p,#shushi .shu p,#eco .economic p{font-size:20px;color:#ff7077;margin-top:29px;line-height:20px;margin-bottom:13px;}
#zunxiang .zun li,#shushi .shu li,#eco .economic li{font-size:14px;line-height:28px;}
.box_le li span{display:inline-block;width:3px;height:3px;border-radius: 3px;background: #333;line-height:3px;margin-bottom: 5px;margin-right:4px;}
#zunxiang .zun p span,#shushi .shu p span,#eco .economic p span{font-size:20px;}
[hovern]{width:100%;height:100%;position: absolute;bottom:440px;background:#cba67f;z-index:99;opacity: 0.9;}
.he_n,.he_m{width:calc(100%-48px);height:65px;line-height:65px;font-size:20px;color:#fff}
.he_m{padding:13px 24px 0px 24px;}
.he_n{padding-right:24px;}
.cont_in{width:calc(100%-40px);height:208px;padding:0 16px 0px 24px;margin-bottom:48px;}
.cont_in p{line-height:28px;color:#fff;font-size:14px;}
[buton]{width:158px;height:46px;line-height:46px;text-align:center;border:1px solid #fff;margin:0 auto;border-radius: 6px;color:#cda67f;background: #fff;}
[buton]:hover{background:#fff;color:#ff7177;cursor: pointer;}
.cont_in span{display:inline-block;width:3px;height:3px;border-radius: 3px;background: #fff;line-height:3px;margin-bottom: 5px;margin-right:4px;}
#contBoxn #box_ri{width:297px;height:440px;border:1px solid #ededed;box-sizing:border-box;overflow: hidden;position: relative;float:right;}
#contBoxn #box_ri .botomm{position:absolute;bottom:0;width:100%;height:30px;background: #fff;}
 #demoScro{
    overflow:hidden;
    width:100%;
    font-size:18px;line-height:18px;
   }
#express li{
      cursor:pointer;
      margin-bottom:42px;font-size:14px;
 }
#express span{display:inline-block;margin-left:30px;}
#express p{margin-top:10px;margin-left:13px;color:#343434}
#express b{display:inline-block;font-weight:normal;color:#ff7077;margin-left:10px;margin-right:10px;}
#bann{width:100%;height:320px;position:relative;background:url(../../img/sao.jpg) no-repeat;background-size:100% 100%;overflow:hidden;cursor: pointer;}
#bann .flo_hot{width:256px;height:46px;position:absolute;top:218px;left:1166px;cursor: pointer;}
#processCom{/*height:400px;*/width:100%;margin-top:60px;}
#processCom img{margin:0 auto;}
#processCom img.img1{margin-top:40px;}

.ser_pro{width:1200px;height:176px;}
.pn1,.pn2{text-align:center;}
[cla="pm1"]{width:150px;height:172px;float:left;}
.pn1{font-size:20px;font-weight:bold;line-height:20px;margin-bottom:15px;margin-top:10px;}
.pn2{font-size:14px;line-height:18px;line-height:20px;color:#999;}
[cla="pm2"]{width:182px;height:172px;float:left;}
[cla="pm3"]{width:140px;height:172px;float:left;}
[cla="pm1"] .pn1,[cla="pm1"] .pn2{margin-left:-30px;}
[cla="pm3"] .pn1,[cla="pm3"] .pn2{margin-left:30px;}

#bgColor{width:100%;height:575px;background:#fafafa;}
.baozhang{width:180px;height:77px;padding-top:7px;margin:0 auto;text-align:center;}
.baozhang [pro="a0"]{font-size:25px;height:47px;line-height:47px;}
.baozhang [pro="a1"]{font-size:16px;line-height:16px;color:#999;}
#baoCon{width:1200px;height:382px;margin-bottom:109px;}
#baoCon [promis]{width:300px;height:100%;text-align:center;}
#baoCon [promis] img{margin:0 auto;margin-top:62px;margin-bottom:42px;}
#baoCon .head{font-size:18px;line-height:18px;margin-bottom:24px;}
#baoCon .cont{font-size:14px;color:#999;line-height:24px;}/*background:#ff6982;*/
#bao1,#bao2,#bao3,#bao4{float:left;}
#bao1 img,#bao2 img,#bao3 img,#bao4 img{border-radius: 100px;}
#bao1:hover,#bao2:hover,#bao3:hover,#bao4:hover{background:#ff6982;}
#honor{width:1200px;height:384px;margin-bottom:100px;}
#honor #honorLeft{width:788px;height:384px;float:left;}
#honor #honorLeft .bord{width:232px;height:239px;border:1px solid #ececec;margin-right:25px;float:left;}
#honor #honorLeft .bord p{text-align: center;font-size:14px;height:20px;line-height:20px;color:#474747}
#honor #honorLeft .wh{font-size:20px;width:788px;float:left;line-height:94px;height:94px;}


#honorRight{width:376px;height:384px;float:left;position:relative;padding-top:7px;padding-left:36px;}
#honorRight .port{height:62px;line-height:69px;font-size:20px;width:380px;margin-bottom:20px;}
.bcm{width:376px;height:78px;margin-bottom:18px;}
#honorRight .bcm .topn{height:37px;width:376px;}
#honorRight .sec{height:65px;}
#honorRight .bcm .topn img{margin-right:5px;}
#honorRight .bcm .topn p{font-size:12px;height:12px;margin-top:23px;}
#honorRight .bcm .topn p.da2{margin-top:10px;}
#honorRight .bcm .topn p.da3{margin-top:28px;}
#honorRight .bcm .bottn{height:42px;width:376px;}
#honorRight .bottn .l{line-height:34px;font-size:14px;color:#5c5c5c;}
#honorRight .bcm .gh .l{line-height:10px;}
#honorRight .bcm .bottn .av{margin-right:23px;color:#999;}
#more{font-size:14px;height:36px;line-height:36px;color:#fe697c;cursor: pointer;}

#bigBanner{width:100%;}
#bigBanner img{width:100%;}
#bigBanner .wangdian{width:890px;height:80px;}
[waDin="wa1"]{font-size:26px;text-align:center;color:#343434;}
[waDin="wa2"]{font-size:12px;text-align:center;height:42px;line-height:42px;color:#acacac;margin-bottom:33px;}

#ban2{width:1200px;height:320px;}

#center{width:1200px;height:320px;margin:0 auto;}
.blockn1,.blockn2{width:390px;height:320px;background:#f7f7f7;}
.blockn1{margin-left:128px;margin-right:162px;}
.overF{width:390px;height:230px;overflow:hidden;margin-bottom:25px;}
.wwwd1{width:390px;height:230px;background: url(../../img/yp.jpg);transition: all 1s;}
.wwwd1:hover,.wwwd2:hover,.wwwd3:hover{transform: scale(1.2);}
.wwwd2{width:390px;height:230px;background: url(../../img/dl.jpg);transition: all 1s;}
#center .wdCont{color:#999;font-size:13px;line-height:30px;}


#logoband{width:1200px;height:60px;margin-bottom:50px;}
#logoband .banner3 { width: 1200px; height: 60px; overflow: hidden; position: relative; margin-left: auto; margin-right: auto;margin:0 auto; }
#logoband .banner3 .img { width: 99999px; position: absolute; left: 0px; top: 0px; }
#logoband .banner3 .img li { float: left;}
#logoband .banner3 .img .l{height: 60px;}
.gray1{background: url(../../img/demer.png) no-repeat;width:146px;margin-left:3px;}
.gray2{background: url(../../img/love.png) no-repeat;width:146px;}
.gray3{background: url(../../img/yoyo.png) no-repeat;width:146px;}
.gray4{background: url(../../img/happy.png) no-repeat;width:146px;}
.gray5{background: url(../../img/home.png) no-repeat;width:146px;}
.gray6{background: url(../../img/open.png) no-repeat;width:146px;}
.gray7{background: url(../../img/dio.png) no-repeat;width:146px;}
.gray8{background: url(../../img/last.png) no-repeat;width:146px;}


#logoband .banner3 .btn{position: absolute; cursor: pointer;display:none;}

#logoband .banner3 .btn_l { left: 0px; }
#logoband .banner3 .btn_r { right:0px; }
#world{width:210px;height:110px;line-height:110px;font-size:25px;margin:0 auto;}