<link rel="stylesheet" type="text/css" href="views/ServiceMatron/ServiceMatron.css"/>

<P ng-include="'views/commonArea/html/header.html'"></P>
<P ng-include="'views/commonArea/html/rightScrollBlock.html'"></P>
<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
		<div id="serban" ng-click="kkkk()">
			<img src="img/月嫂服务-1.jpg"/>
		</div>
		<div id="naver" class="w kk">
			<a href="#/index">您的位置： 首页 - </a><span>月嫂服务</span>
		</div>
		<div id="bigBong">
			<div class="w">
				<img src="img/bigBong.png"/>
			</div>
		</div>
		
		<div class="w">
			<img src="img/aa1.png" serlevel="a1"/>
			<img src="img/aa2.png" serlevel="a2"/>
			<img src="img/aa3.png" style="margin-bottom:40px;" serlevel="a3"/>
		</div>
<div id="conctBox">
				<div id="eco" contbox="a1">
					<div class="opacit"></div>
					<img src="img/2.jpg"/>
					<div class="economic" opc="ai">
						<p>经济型</p>
						<li><span></span>月嫂行业1-3年工作经验</li>
						<li><span></span>服务侧重于妈妈、宝宝的基础护理服务。</li>
						<div>...</div>
					</div>
					<div hovern="ho_eco">
						<div class="he_m">
							<p class="l">经济型</p>
							<p class="r">7,980</p>
						</div>
						<div class="cont_in">
							<p><span></span>月嫂行业1-3年工作经验</p>
							<p><span></span>服务侧重于妈妈、宝宝的基础护理服</p>
							<p style="margin-left:6px;">务。</p>
							<p><span></span>专业的月子餐（三餐）制作</p>
							<p><span></span>基础的头部肩颈按摩</p>
						</div>
						<div buton="btn1" ng-click="ecoo()">
							预约享好礼
						</div>
					</div>
				</div>
				<div id="shushi" contbox="a2">
					<div class="opacit"></div>
					<img src="img/3.jpg"/>
					<div class="shu" opc="ai">
						<p>舒适型</p>
						<li><span></span>从事月嫂行业3年及以上，客户满意度高</li>
						<!--<li style="margin-left:6px;">100%好评</li>-->
						<li><span></span>娴熟的产妇、宝宝的基础护理服务。</li>
						<div>...</div>
					</div>
					<div hovern="ho_shu">
						<div class="he_m">
							<p class="l">舒适型</p>
							<p class="r">9,980</p>
						</div>
						<div class="cont_in">
							<p><span></span>从事月嫂行业3年及以上，客户满意度高</p>
							<p><span></span>娴熟的产妇、宝宝的基础护理服务</p>
							<p><span></span>专业月子餐（三餐两点）</p>
							<p><span></span>会新生儿早期教育</p>
							<p><span></span>科学指导妈妈恢复形体</p>
							<p><span></span>除基础按摩外，提供专业子宫按摩</p>
						</div>
						<div buton="btn2" ng-click="shus()">
							预约享好礼
						</div>
					</div>					
				</div>
				<div id="zunxiang" contbox="a3">
					<div class="opacit"></div>
					<img src="img/1.jpg" />
					<div class="zun"  opc="ai">
						<p>尊享型</p>
						<li><span></span>从事月嫂行业5年及以上，客户好评率高</li>
						<!--<li style="margin-left:6px;">户100%好评</li>-->
						<li><span></span>技能娴熟，礼仪、情商得到客户的一致好评</li>
						<div>...</div>
					</div>
					<div hovern="ho_zun">
						<div class="he_m">
							<p class="l">尊享型</p>
							<p class="r">11,980</p>
						</div>
						<div class="cont_in">
							<p><span></span>从事月嫂行业5年及以上，客户好评率高</p>
							<!--<p style="margin-left:6px;">客户100%好评</p>-->
							<p><span></span>技能娴熟，礼仪、情商得到客户的一致</p>
							<p style="margin-left:6px;">好评</p>
							<p><span></span>善于月子餐制作，三餐三点</p>
							<p><span></span>会小儿推拿，解决宝宝常见小问题</p>
							<p><span></span>科学指导妈妈和宝宝的互动</p>
							<p><span></span>教授新手爸妈育儿护理知识</p>
						</div>
						<div buton="btn3" ng-click="zunx()">
							预约享好礼
						</div>
					</div>					
				</div>
</div>
		
<div id="sinIntro" class="w">
	<div simpleTop="sim1">
		<img src="img/jianjie.png"/>
		<p>PREFERRED SERVICE PROFILE</p>
	</div>
	<div id="sinpleCont">

<!--第1排-->		
		<div class="Tuwen l">	
			<img src="img/c1.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>月子餐 </p>
			</div>
			<div class="flotIn">
				<div class="flopacity"></div>
				<p class="tite">月子餐 </p>
				<P class="contm">月子期间，众所周知一定要吃的有营养，但是又怕身材走形、吃得太胖了。我们的月子餐，是经过专业的营养师，特地为产后的妈妈调配的，并且我们的营养师已经有了十多年的为孕产妈妈服务的经验，所以对于月子期的妈妈的调理和恢复一定是大有裨益！</P>
			</div>
		</div>
		<div class="Tuwen l">	
			<img src="img/c2.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>婴儿每日音乐抚触</p>
			</div>
			<div class="flotIn">
				<div class="flopacity"></div>
				<p class="tite">婴儿每日音乐抚摸</p>
				<P class="contm">新生儿音乐抚触，通过和宝宝的语言、表情、身体接触等全方位的互动，有效刺激宝宝听觉、视觉、触觉的发育。特别是触觉，是宝宝最早发育的感觉器官，在妈妈肚子里的时候宝宝就有触觉了，通过抚触能够缓解、稳定宝宝的情绪。通过对小肚子的抚触，能够使宝宝肠胃更健康！</P>
			</div>
		</div>
		<div class="Tuwen l">	
			<img src="img/c3.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>婴儿红臀预防及护理 </p>
			</div>
			<div class="flotIn">
				<div class="flopacity"></div>
				<p class="tite">婴儿红臀预防及护理 </p>
				<P class="contm">婴儿红臀是新生儿的常见病症之一，而且绝大部分的原因是由于护理不当造成的。新生儿的臀部是十分娇嫩的，一旦护理失当，就会造成红臀，给宝宝带来许多痛苦！我们的月嫂通过科学、专业的预防建议，以及在初发时能够及时采取护理方案，让宝宝能够健康快乐地成长！</P>
			</div>
		</div>
	

<!--第2排-->
		<div class="Tuwen l">	
			<img src="img/c4.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>每日产妇口腔护理 <span>/舒适型、尊享型 </span></p>
			</div>
			<div class="flotIn">
				<div class="flopacity"></div>
				<p class="tite">每日产妇口腔护理 <span>/舒适型、尊享型</span></p>
				<P class="contm">产妇牙龈敏感脆弱，不建议牙刷刷牙，月嫂采用干净的纱布，专业手法擦拭和护理产妇牙齿和牙龈，有效预防月子期牙龈出血、牙齿松动等问题。</P>
			</div>
		</div>
		<div class="Tuwen l">	
			<img src="img/c5.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>产妇日常形体恢复操指导 <span>/舒适型、尊享型</span></p>
			</div>
			<div class="flotIn">
				<div class="flopacity"></div>
				<p class="tite">产妇日常形体恢复操指导 <span>/舒适型、尊享型</p>
				<P class="contm">产后的形体操，建议在产后第三天就可以进行形体操了。有侧切以及手术伤口的妈妈在感觉不到伤口疼痛后再进行。前三天主要包括关节活动、腹部呼吸，帮助妈妈缓解疲劳，促进恶露的排出。之后主要是腰部、背部的运动，帮助妈妈缓解肌肉僵硬。</P>
			</div>
		</div>
		<div class="Tuwen l">	
			<img src="img/c6.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>科学母乳喂养指导 <span>/舒适型、尊享型</span></p>
			</div>
			<div class="flotIn">
				<div class="flopacity"></div>
				<p class="tite">科学母乳喂养指导 <span>/舒适型、尊享型</span></p>
				<P class="contm">每个妈妈肯定都想要母乳喂养，无论是世界卫生组织，还是医院里的医生，肯定也都是建议六个月内的宝宝进行纯母乳喂养的。但由于每个妈妈的体质不同，真正能达到纯母乳喂养的其实不多。科学母乳喂养指导，是通过调整宝宝吸吮的姿态、合理安排喂养的频次等科学手段帮助您尽可能地提高纯母乳喂养的概率。</P>
			</div>
		</div>


<!--第3排-->
		<div class="Tuwen l">	
			<img src="img/c7.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>产妇子宫按摩 <span>/舒适型、尊享型</span></p>
			</div>
			<div class="flotIn">
				<div class="flopacity"></div>
				<p class="tite">产妇子宫按摩 <span>/舒适型、尊享型</span></p>
				<P class="contm">产后妈妈产后42天检查，子宫复位是一个重要的指标。子宫按摩可选在哺乳结束后，因为宝宝吸吮会刺激子宫收缩，此时进行子宫按摩可更准确的找到子宫位置，并且有助于恶露排出。一般在进行2周左右，子宫就能够降至盆腔内了。</P>
			</div>
		</div>
		<div class="Tuwen l">	
			<img src="img/c8.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>新生儿精细运动、语言训练 <span>/舒适型、尊享型</span></p>
			</div>
			<div class="flotIn">
				<div class="flopacity"></div>
				<p class="tite">新生儿精细运动、语言训练 <span>/舒适型、尊享型</span></p>
				<P class="contm">新生儿早教精细运动训练能够让宝宝运动能力更好发展，月嫂每天会对宝宝的手指进行按摩抚触，刺激宝宝手指神经，引导宝宝主动进行抓握练习，促进宝宝的抓握能力发展</P>
			</div>
		</div>
		<div class="Tuwen l">	
			<img src="img/c9.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>产妇腹带塑身 <span>/尊享型</span></p>
			</div>
			<div class="flotIn">
				<div class="flopacity"></div>
				<p class="tite">产妇腹带塑身 <span>/尊享型</span></p>
				<P class="contm">绑缚带主要起到两个作用，一方面是能够防止产妇内脏下垂，另一方面产后妈妈肚子比较松弛，有的还会胀气，通过科学地绑腹带能够尽快地让妈妈形体恢复。绑腹带，专业的和不专业效果差别大，绑高了会压迫到妈妈的乳房，绑低了起不到作用，我们的月嫂经过了专业的培训，而且有多年的从业经验，能够很好帮助客户做好绑腹带护理。</p> 
			</div>
		</div>

<!--第四排-->
		<div class="Tuwen l">	
			<img src="img/c10.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>中医小儿推拿居家护理 <span>/尊享型</span></p>
			</div>
			<div class="flotIn">
				<div class="flopacity"></div>
				<p class="tite">中医小儿推拿居家护理 <span>/尊享型</span></p>
				<P class="contm">在新生儿期，宝宝如果发生病症是十分苦恼的，送医的话一般就是打针吃药，会伤到宝宝的内脏。中医小儿推拿，是通过物理的手段，缓解宝宝的小感冒等不适症状，尽量避免宝宝打针吃药。如果是健康的宝宝，通过小儿推拿也能够强健体魄，更能抵御外界病菌的侵袭！</P>
			</div>
		</div>
		<div class="Tuwen l">	
			<img src="img/c11.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>指导妈妈和宝宝亲子游戏 <span>/尊享型</span></p>
			</div>
			<div class="flotIn">
				<div class="flopacity"></div>
				<p class="tite">指导妈妈和宝宝亲子游戏 <span>/尊享型</span></p>
				<P class="contm">在月子期间宝宝都是由月嫂来照顾的，但是我们并不是让宝宝依恋月嫂，而是要让宝宝更依恋妈妈。我们的月嫂在宝宝照料中主要是基础的护理工作，同时我们的月嫂会指导妈妈和宝宝之间进行互动、游戏，使宝宝在感情上更依恋妈妈。</P>
			</div>
		</div>
		<div class="Tuwen l">	
			<img src="img/c12.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>产后祛四肢水肿 <span>/尊享型</span></p>
			</div>
			<div class="flotIn">
				<div class="flopacity"></div>
				<p class="tite">产后祛四肢水肿 <span>/尊享型</span></p>
				<P class="contm">产后水肿不仅会造成行走难受、而且会引起身体不适，长期水肿的话更是会危害到身体健康！我们的月嫂通过物理的手法，中医穴位的刺激，帮助妈妈尽快排除体内潴留的水液，缓解产后妈妈水肿的症状。</P>
			</div>
		</div>


	</div>
</div>		

		<div id="serviHome" class="w">
			<img src="img/fuwuH.png"/>
			<p>细心周到呵护您和宝宝健康</p>
			<img src="img/sertu.png" style="margin-top:38px;"/>
		</div>
		
			<div id="process" class="w">
				<img src="img/process.png" pros="a1"/>
				<img src="img/hun.png" class="img1"  pros="a2"/>
				<div class="ser_pro w">
					<div cla="pm1" ng="b1">
						<p class="pn1">订购月嫂</p>
						<p class="pn2">线上订购方便<br>线下订购更安心</p>				
					</div>
					<div cla="pm2" ng="b2">
						<p class="pn1">月嫂匹配</p>
						<p class="pn2">大数据化样本<br>智能化匹配</p>				
					</div>
					<div cla="pm2" ng="b3">
						<p class="pn1">安心待产</p>
						<p class="pn2">母婴顾问随时咨询<br>让您在家无忧待产</p>				
					</div>
					<div cla="pm2" ng="b4">
						<p class="pn1">优选月嫂</p>
						<p class="pn2">提前一周与您<br>确认最优人选</p>				
					</div>
					<div cla="pm2" ng="b5">
						<p class="pn1">上门服务</p>
						<p class="pn2">电话预约<br>准时到家</p>				
					</div>
					<div cla="pm2" ng="b6">
						<p class="pn1">服务督导</p>
						<p class="pn2">服务日志<br>顾客回访</p>				
					</div>
					<div cla="pm3" ng="b7">
						<p class="pn1">服务评价</p>
						<p class="pn2">点评服务<br>有效监督</p>				
					</div>
				</div>
			</div>
			<div id="bao" class="w">
				<img src="img/bao.png" style="margin:0 auto;" pro="a0"/>
				<div id="baoCon">
					<div id="bao1"  promis="a1">
						<img src="img/cale1.png" root="c1"/>
						<p class="head">无理由全额退款</p>
						<p class="cont">预订后，预产期一个月前<br/>随时无理由退款</p>
					</div>
					<div id="bao2"  promis="a2">
						<img src="img/cale2.png" root="c2"/>
						<p class="head">三方保险保障</p>
						<p class="cont">我们为月嫂客户公司购买三方保<br/>险，确保您的合法利益</p>
					</div>
					<div id="bao3"  promis="a3">
						<img src="img/cale3.png" root="c3"/>
						<p class="head">免费退换保障</p>
						<p class="cont">服务期间如有对月嫂不满意<br/>立即免费退换</p>
					</div>
					<div id="bao4"  promis="a4">
						<img src="img/cale4.png" root="c4"/>
						<p class="head">极速退款保障</p>
						<p class="cont">如遇退款情况，承诺工作日24小时<br/>内返回到您的账户</p>
					</div>
				</div>
			</div>	

					</div>
				</div>
			</div>	
<P ng-include="'views/commonArea/html/footer.html'"></P>
