<link rel="stylesheet" type="text/css" href="views/ServiceMatron/ServiceMatron.css"/>

<P ng-include="'views/commonArea/html/header.html'"></P>
<P ng-include="'views/commonArea/html/rightScrollBlock.html'"></P>
<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
		<div id="serban" ng-click="kkkk()">
			<img src="img/serviceBa.png"/>
		</div>
		<div id="nav" class="w">
			<span ng-click="turnIndex()">首页</span> > <span>月嫂服务</span>
		</div>
		<div id="bigBong">
			<div class="w">
				<img src="img/bigBong.png"/>
			</div>
		</div>
		
		<div class="w">
			<img src="img/aa1.png" serlevel="a1"/>
			<img src="img/aa2.png" serlevel="a2"/>
			<img src="img/aa3.png" style="margin-bottom:40px;" serlevel="a3"/>
		</div>
<div id="conctBox">
				<div id="eco" contbox="a1">
					<div class="opacit"></div>
					<img src="img/2.jpg"/>
					<div class="economic" opc="ai">
						<p>经济型</p>
						<li><span></span>月嫂行业1-3年工作经验</li>
						<li><span></span>服务侧重于妈妈、宝宝的基础护理服务。</li>
						<div>...</div>
					</div>
					<div hovern="ho_eco">
						<div class="he_m">
							<p class="l">经济型</p>
							<p class="r">7,980</p>
						</div>
						<div class="cont_in">
							<p><span></span>月嫂行业1-3年工作经验</p>
							<p><span></span>服务侧重于妈妈、宝宝的基础护理服</p>
							<p style="margin-left:6px;">务。</p>
							<p><span></span>专业的月子餐（三餐）制作</p>
							<p><span></span>基础的头部肩颈按摩</p>
						</div>
						<div buton="btn1" ng-click="ecoo()">
							预约享好礼
						</div>
					</div>
				</div>
				<div id="shushi" contbox="a2">
					<div class="opacit"></div>
					<img src="img/3.jpg"/>
					<div class="shu" opc="ai">
						<p>舒适型</p>
						<li><span></span>从事月嫂行业3年及以上，并获取服务客户</li>
						<li style="margin-left:6px;">100%好评</li>
						<li><span></span>娴熟的产妇、宝宝的基础护理服务。</li>
						<div>...</div>
					</div>
					<div hovern="ho_shu">
						<div class="he_m">
							<p class="l">舒适型</p>
							<p class="r">9,980</p>
						</div>
						<div class="cont_in">
							<p><span></span>从事月嫂行业3年及以上，并获取服务客户100%好评。</p>
							<p><span></span>娴熟的产妇、宝宝的基础护理服务。</p>
							<p><span></span>专业月子餐（三餐两点）</p>
							<p><span></span>会新生儿早期教育</p>
							<p><span></span>科学指导妈妈恢复形体</p>
							<p><span></span>除基础按摩外，提供专业子宫按摩</p>
						</div>
						<div buton="btn2" ng-click="shus()">
							预约享好礼
						</div>
					</div>					
				</div>
				<div id="zunxiang" contbox="a3">
					<div class="opacit"></div>
					<img src="img/1.jpg" />
					<div class="zun"  opc="ai">
						<p>尊享型</p>
						<li><span></span>从事月嫂行业5年及以上，并获取好娘家客</li>
						<li style="margin-left:6px;">户100%好评</li>
						<li><span></span>技能娴熟，礼仪、情商得到客户的一致好评</li>
						<div>...</div>
					</div>
					<div hovern="ho_zun">
						<div class="he_m">
							<p class="l">尊享型</p>
							<p class="r">11,980</p>
						</div>
						<div class="cont_in">
							<p><span></span>从事月嫂行业5年及以上，并获取好娘家</p>
							<p style="margin-left:6px;">客户100%好评</p>
							<p><span></span>技能娴熟，礼仪、情商得到客户的一致</p>
							<p style="margin-left:6px;">好评</p>
							<p><span></span>善于月子餐制作，三餐三点</p>
							<p><span></span>会小儿推拿，解决宝宝常见小问题</p>
							<p><span></span>科学指导妈妈和宝宝的互动</p>
							<p><span></span>教授新手爸妈育儿护理知识</p>
						</div>
						<div buton="btn3" ng-click="zunx()">
							预约享好礼
						</div>
					</div>					
				</div>
</div>
		
<div id="sinIntro" class="w">
	<div simpleTop="sim1">
		<img src="img/jianjie.png"/>
		<p>PREFERRED SERVICE PROFILE</p>
	</div>
	<div id="sinpleCont">

<!--第1排-->		
		<div class="Tuwen l">	
			<img src="img/c1.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>月子餐 <span>/全系标配</span></p>
			</div>
			<div class="flotIn">
				<div class="flopacity"></div>
				<p class="tite">婴儿每日音乐抚摸<span>/经济型及其以上</span></p>
				<P class="contm">教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识</P>
			</div>
		</div>
		<div class="Tuwen l">	
			<img src="img/c2.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>月子餐 <span>/全系标配</span></p>
			</div>
			<div class="flotIn">
				<div class="flopacity"></div>
				<p class="tite">婴儿每日音乐抚摸<span>/经济型及其以上</span></p>
				<P class="contm">教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识</P>
			</div>
		</div>
		<div class="Tuwen l">	
			<img src="img/c3.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>月子餐 <span>/全系标配</span></p>
			</div>
			<div class="flotIn">
				<div class="flopacity"></div>
				<p class="tite">婴儿每日音乐抚摸<span>/经济型及其以上</span></p>
				<P class="contm">教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识</P>
			</div>
		</div>
	

<!--第2排-->
		<div class="Tuwen l">	
			<img src="img/c4.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>月子餐 <span>/全系标配</span></p>
			</div>
			<div class="flotIn">
				<div class="flopacity"></div>
				<p class="tite">婴儿每日音乐抚摸<span>/经济型及其以上</span></p>
				<P class="contm">教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识</P>
			</div>
		</div>
		<div class="Tuwen l">	
			<img src="img/c5.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>月子餐 <span>/全系标配</span></p>
			</div>
			<div class="flotIn">
				<div class="flopacity"></div>
				<p class="tite">婴儿每日音乐抚摸<span>/经济型及其以上</span></p>
				<P class="contm">教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识</P>
			</div>
		</div>
		<div class="Tuwen l">	
			<img src="img/c6.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>月子餐 <span>/全系标配</span></p>
			</div>
			<div class="flotIn">
				<div class="flopacity"></div>
				<p class="tite">婴儿每日音乐抚摸<span>/经济型及其以上</span></p>
				<P class="contm">教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识</P>
			</div>
		</div>


<!--第3排-->
		<div class="Tuwen l">	
			<img src="img/c7.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>月子餐 <span>/全系标配</span></p>
			</div>
			<div class="flotIn">
				<div class="flopacity"></div>
				<p class="tite">婴儿每日音乐抚摸<span>/经济型及其以上</span></p>
				<P class="contm">教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识</P>
			</div>
		</div>
		<div class="Tuwen l">	
			<img src="img/c8.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>月子餐 <span>/全系标配</span></p>
			</div>
			<div class="flotIn">
				<div class="flopacity"></div>
				<p class="tite">婴儿每日音乐抚摸<span>/经济型及其以上</span></p>
				<P class="contm">教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识</P>
			</div>
		</div>
		<div class="Tuwen l">	
			<img src="img/c9.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>月子餐 <span>/全系标配</span></p>
			</div>
			<div class="flotIn">
				<div class="flopacity"></div>
				<p class="tite">婴儿每日音乐抚摸<span>/经济型及其以上</span></p>
				<P class="contm">教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识</P>
			</div>
		</div>

<!--第四排-->
		<div class="Tuwen l">	
			<img src="img/c10.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>月子餐 <span>/全系标配</span></p>
			</div>
			<div class="flotIn">
				<div class="flopacity"></div>
				<p class="tite">婴儿每日音乐抚摸<span>/经济型及其以上</span></p>
				<P class="contm">教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识</P>
			</div>
		</div>
		<div class="Tuwen l">	
			<img src="img/c11.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>月子餐 <span>/全系标配</span></p>
			</div>
			<div class="flotIn">
				<div class="flopacity"></div>
				<p class="tite">婴儿每日音乐抚摸<span>/经济型及其以上</span></p>
				<P class="contm">教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识</P>
			</div>
		</div>
		<div class="Tuwen l">	
			<img src="img/c12.png"/>
			<div class="ppacity">
				<div class="opacit"></div>
				<p>月子餐 <span>/全系标配</span></p>
			</div>
			<div class="flotIn">
				<div class="flopacity"></div>
				<p class="tite">婴儿每日音乐抚摸<span>/经济型及其以上</span></p>
				<P class="contm">教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识教授新手爸妈育儿护理知识</P>
			</div>
		</div>


	</div>
</div>		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<div id="serviHome" class="w">
			<img src="img/fuwuH.png"/>
			<p>SERVICE DETAILS</p>
			<p>细心周到呵护您和包包健康。</p>
			<img src="img/sertu.png" style="margin-top:38px;"/>
		</div>
		
			<div id="process" class="w">
				<img src="img/process.png" pros="a1"/>
				<img src="img/liucheng.png" class="img1"  pros="a2"/>
				<div class="ser_pro w">
					<div cla="pm1" ng="b1">
						<p class="pn1">订购月嫂</p>
						<p class="pn2">线上订购方便<br>线下订购更安心</p>				
					</div>
					<div cla="pm2" ng="b2">
						<p class="pn1">月嫂匹配</p>
						<p class="pn2">大数据化样本<br>智能化匹配</p>				
					</div>
					<div cla="pm2" ng="b3">
						<p class="pn1">安心待产</p>
						<p class="pn2">母婴顾问随时咨询<br>让您在家无忧待产</p>				
					</div>
					<div cla="pm2" ng="b4">
						<p class="pn1">优选月嫂</p>
						<p class="pn2">提前一周与您<br>确认最优人选</p>				
					</div>
					<div cla="pm2" ng="b5">
						<p class="pn1">上门服务</p>
						<p class="pn2">电话预约<br>准时到家</p>				
					</div>
					<div cla="pm2" ng="b6">
						<p class="pn1">服务督导</p>
						<p class="pn2">服务日志<br>顾客回访</p>				
					</div>
					<div cla="pm3" ng="b7">
						<p class="pn1">服务评价</p>
						<p class="pn2">点评服务<br>有效监督</p>				
					</div>
				</div>
			</div>
			<div id="bao" class="w">
				<img src="img/bao.png" style="margin:0 auto;" pro="a0"/>
				<div id="baoCon">
					<div id="bao1"  promis="a1">
						<img src="img/cale1.png" root="c1"/>
						<p class="head">无理由全额退款</p>
						<p class="cont">预订后，预产期一个月前<br/>随时无理由退款</p>
					</div>
					<div id="bao2"  promis="a2">
						<img src="img/cale2.png" root="c2"/>
						<p class="head">三方保险保障</p>
						<p class="cont">我们为月嫂客户公司购买三方保<br/>险，确保您的合法利益</p>
					</div>
					<div id="bao3"  promis="a3">
						<img src="img/cale3.png" root="c3"/>
						<p class="head">免费退换保障</p>
						<p class="cont">服务期间如有对月嫂不满意<br/>立即免费退换</p>
					</div>
					<div id="bao4"  promis="a4">
						<img src="img/cale4.png" root="c4"/>
						<p class="head">极速退款保障</p>
						<p class="cont">如遇退款情况，承诺工作日24小时<br/>内返回到您的账户</p>
					</div>
				</div>
			</div>	


		</div>
	</div>
</div>


<P ng-include="'views/commonArea/html/footer.html'"></P>
