<!--<link rel="stylesheet" type="text/css" href="views/commonArea/css/companyIntroduce.css"/>-->
<style type="text/css">
	.ithe{height:32px;width:933px;font-size:17px;margin-bottom:15px;line-height:32px;color:#333333;}
	.int{width:933px;height:95px;line-height:23px;color:#727272;font-size:14px;}
	.int span{color:#ff7074;}
#dr{width:933px;height:498px;}	
.wordn{width:444px;height:380px;float:left;padding-left:80px;padding-top:60px;}
.wordn .titlen,.wordn2 .titlen{color:#343434;font-size:22px;line-height:22px;}
.wordn .titlen p.p1,.wordn2 .titlen p.p1{color:#a5a5a5;font-size:12px;height:32px;line-height:32px;margin-bottom:23px;}
.wordn .conyn1,.wordn .conyn2{font-size:14px;line-height:24px;margin-bottom:24px;}
.wordn .conyn1 .headm{line-height:26px;height:26px;}

.bander{width:934px;height:;92px;line-height:92px;color:#323232;font-size:18px;}
#banword{width:933px;height:776px;}
#banword .copy{width:933px;height:50px;;margin-bottom:46px;}
#banword .l{margin-right:50px;width:141px;}
#banword .ri{width:691px;min-height:50px;}
#banword .ri p{line-height:24px;height:24px;font-size:14px;}
#banword .ri .q1{color:#fe6e77}
#banword .ri .q2{color:#737373}
</style>
	<div class="ithe">企业简介</div>
	<div class="int">
		<span>亦蓁集团</span>成立于2008年，作为国内母婴服务标杆企业，亦蓁集团以“爱”为核心文化，专注母婴健康管理领域，专业提供高品质孕/产/婴/童特色服务。集团拥有八大高端母婴服务与产品品牌，近50家直营连锁门店遍布全国各地标性建筑，形成一站式母婴服务全产业链。集团产业同时覆盖互联网、金融资产管理、旅游民宿、有机农产品等多个领域。未来的亦蓁集团将立足家庭这一服务轴心，以科技+生活为核心竞争力，大力开拓母婴服务、医疗健康、亲子教育、财富管理等家庭重点服务领域，旨在成为全球领先的家庭私人管家服务综合提供商。	
	</div>
	
	<div id="dr">
		<img src="img/hhh.png" class="l"/>
		<div class="wordn l">
			<div class="titlen">集团理念
				<p class="p1">GROUP CONCEPT</p>
			</div>
			<div class="conyn1">
				<p class="headm">“亦”生“蓁”爱</p>
				<p>亦有如此深爱，成就了破茧的勇气，生命的奇迹，在用心的呵护中绽放<br/>蓁蓁其叶，妙曼了上天赐予的缘分，爱为名，新年相随，不负真情托付</p>
			</div>
			<p class="conyn2">企业愿景：打造国际一流的母婴生活服务平台<br/>企业价值观：专业、务实、高效、创新、卓越<br/>企业使命：孕育爱、传递爱、分享爱</p>
		</div>
	</div>
	<div class="bander">集团旗下品牌</div>
	<div id="banword">
		<div class="copy">
			<img src="img/ko.png" class="l"/>
			<div class="ri l">
				<p class="q1">Cocohome好娘家·专业月嫂   娘家坐月子的感觉！</p>
				<p class="q2">致力于专业母婴护理的大众品牌，专为0—3个月的产妇、宝宝提供好而不贵的专业月嫂服务。</p>
			</div>
		</div>
		<div class="copy">
			<img src="img/ko2.png" class="l"/>
			<div class="ri l">
				<p class="q1">Cocodemer珂珂朵谧·产后修复专家    让生育成为女性更美的开始</p>
				<p class="q2">专注于高端孕产养护与产后修复的权威品牌，提供备孕调理、孕期护理、产后修复、小产特护、育后养护等五大类百余项专业特色服务。</p>
			</div>
		</div>
		<div class="copy">
			<img src="img/lov.png" class="l"/>
			<div class="ri l">
				<p class="q1">Cocolove爱的果实·母婴私家护理  把月子会所搬回家</p>
				<p class="q2">专注于高端母婴私家护理的行业标杆品牌，提供高端月嫂及育婴师服务。</p>
			</div>
		</div>
		<div class="copy">
			<img src="img/lo4.png" class="l"/>
			<div class="ri l">
				<p class="q1">Cocoyoyo可可尤优·婴童生活     专属宝贝的品质生活</p>
				<p class="q2">创意打造高品质婴童生活方式的时尚品牌，专为0-12岁的婴童提供婴儿游泳SPA、婴幼儿健康理疗、婴童理发、亲子美甲、儿童造型等特色服务。</p>
			</div>
		</div>
		<div class="copy">
			<img src="img/lv5.png" class="l"/>
			<div class="ri l">
				<p class="q1">Cocohappy亦生蓁品·臻品定制    专属定制的至臻品牌</p>
				<p class="q2">专属定制的至臻品牌，产品涵盖：各类胎发/庆生/节日纪念品定制；高端母婴用品选购。</p>
			</div>
		</div>
		<div class="copy">
			<img src="img/lv6.png" class="l"/>
			<div class="ri l">
				<p class="q1">芝麻开门·专业儿童摄影 &nbsp; &nbsp; &nbsp; 经典，记录珍贵……</p>
				<p class="q2">致力于专业儿童摄影的经典品牌，于2001年在上海成立，2015年亦蓁母婴成功收购该品牌，专为孕妇、婴幼儿、儿童提供量身定制的拍摄方案。</p>
			</div>
		</div>
		<div class="copy">
			<img src="img/lv7.png" class="l"/>
			<div class="ri l">
				<p class="q1">Le Gras乐格思·高端商业摄影   母婴行业的4A公司</p>
				<p class="q2">致力于商业影像拍摄与品牌传播的专业品牌，专为母婴行业的媒体、企业提供平面拍摄、影视制作、公关策划、品牌整合与推广等一条龙服务。</p>
			</div>
		</div>
		<div class="copy">
			<img src="img/lv8.png" class="l"/>
			<div class="ri l">
				<p class="q1">爱的果实·蓁爱月子会所     邀您尊享360︒全方位月子生活</p>
				<p class="q2">专业打造360°全方位月子生活的标杆品牌，专为0—3个月的产妇、宝宝提供专业全面的月子生活服务。</p>
			</div>
		</div>
	</div>