<!--<link rel="stylesheet" type="text/css" href="views/commonArea/css/companyIntroduce.css"/>-->
<style type="text/css">
.ithe{height:32px;width:933px;font-size:17px;margin-bottom:42px;line-height:32px;color:#333333;}
#turem{height:272px;width:900px;}
#turem .l{width:430px;height:45px;margin-bottom:55px;}
#turem .abc{width:45px;height:45px;display:inline-block;background-size:100% 100% ;float:left;margin-right:16px;font-size:19px;}
#turem p{height:45px;line-height:50px;float:left;}
#turem p span{color:#ff6a6b}
#turem .rt1{background: url(img/ping2.png);}
#turem .rt2{background: url(img/ping3.png);}
#turem .rt3{background: url(img/ping4.png);}
#turem .rt4{background: url(img/ping5.png);}
#turem .rt6{background: url(img/ping.png);}


#dr{width:444px;height:275px;}	
.wordn{width:444px;height:275px;}
.wordn .titlen{color:#343434;font-size:17px;line-height:112px;}
.wordn .titlen p.p1{color:#a5a5a5;font-size:12px;height:32px;line-height:32px;margin-bottom:23px;}
.wordn .conyn2{font-size:16px;line-height:24px;margin-bottom:24px;}
.wordn .conyn2 b{font-size:19px;font-weight:normal;}
.wordn .conyn1 .headm{line-height:26px;height:26px;}

.bander{width:200px;height:92px;color:#323232;font-size:17px;}
#banword{width:933px;height:776px;}
#banword .copy{width:933px;height:50px;;margin-bottom:46px;}
#banword .l{margin-right:50px;width:141px;}
#banword .ri{width:691px;min-height:50px;}
#banword .ri p{line-height:24px;height:24px;font-size:14px;}
#banword .ri .q1{color:#fe6e77}
#banword .ri .q2{color:#737373}
</style>
	<div class="ithe">企业简介</div>
	<div id="turem">
		<div class="l">
			<div class="abc rt6"></div>
			<p><span class="colorn">6000m&sup2;</span>总部</p>
		</div>
		<div class="l">
			<div class="abc rt1"></div>
			<p><span class="colorn">10年</span>缔造母婴服务领军品牌</p>
		</div>
		<div class="l">
			<div class="abc rt2"></div>
			<p><span class="colorn">2500名</span>员工</p>
		</div>
		<div class="l">
			<div class="abc rt3"></div>
			<p><span class="colorn">30万</span>孕产家庭口碑见证</p>
		</div>
		<div class="l">
			<div class="abc rt4"></div>
			<p><span class="colorn">近60家</span>直营连锁门店</p>
		</div>
	</div>
	
	<div id="dr">
		<div class="wordn l">
			<div class="titlen">集团理念</div>
			<p class="conyn2"><b>企业愿景：</b>打造国际一流的母婴生活服务平台<br/><b>企业价值观</b>：专业、务实、高效、创新、卓越<br/><b>企业使命</b>：孕育爱、传递爱、分享爱</p>
		</div>
	</div>
	
	<div class="bander">集团旗下品牌</div>
	<div id="banword">
		<div class="copy">
			<img src="img/ko.png" class="l"/>
			<div class="ri l">
				<p class="q1">Cocohome好娘家·专业月嫂   娘家坐月子的感觉！</p>
				<p class="q2">致力于专业母婴护理的大众品牌，专为0—3个月的产妇、宝宝提供好而不贵的专业月嫂服务。</p>
			</div>
		</div>
		<div class="copy">
			<img src="img/ko2.png" class="l"/>
			<div class="ri l">
				<p class="q1">Cocodemer珂珂朵谧·产后修复专家    让生育成为女性更美的开始</p>
				<p class="q2">专注于高端孕产养护与产后修复的权威品牌，提供备孕调理、孕期护理、产后修复、小产特护、育后养护等五大类百余项专业特色服务。</p>
			</div>
		</div>
		<div class="copy">
			<img src="img/lov.png" class="l"/>
			<div class="ri l">
				<p class="q1">Cocolove爱的果实·母婴私家护理  把月子会所搬回家</p>
				<p class="q2">专注于高端母婴私家护理的行业标杆品牌，提供高端月嫂及育婴师服务。</p>
			</div>
		</div>
		<div class="copy">
			<img src="img/lo4.png" class="l"/>
			<div class="ri l">
				<p class="q1">Cocoyoyo可可尤优·婴童生活     专属宝贝的品质生活</p>
				<p class="q2">创意打造高品质婴童生活方式的时尚品牌，专为0-12岁的婴童提供婴儿游泳SPA、婴幼儿健康理疗、婴童理发、亲子美甲、儿童造型等特色服务。</p>
			</div>
		</div>
		<div class="copy">
			<img src="img/lv5.png" class="l"/>
			<div class="ri l">
				<p class="q1">Cocohappy亦生蓁品·臻品定制    专属定制的至臻品牌</p>
				<p class="q2">专属定制的至臻品牌，产品涵盖：各类胎发/庆生/节日纪念品定制；高端母婴用品选购。</p>
			</div>
		</div>
		<div class="copy">
			<img src="img/lv6.png" class="l"/>
			<div class="ri l">
				<p class="q1">芝麻开门·专业儿童摄影 &nbsp; &nbsp; &nbsp; 经典，记录珍贵……</p>
				<p class="q2">致力于专业儿童摄影的经典品牌，于2001年在上海成立，2015年亦蓁母婴成功收购该品牌，专为孕妇、婴幼儿、儿童提供量身定制的拍摄方案。</p>
			</div>
		</div>
		<div class="copy">
			<img src="img/lv7.png" class="l"/>
			<div class="ri l">
				<p class="q1">Le Gras乐格思·高端商业摄影   母婴行业的4A公司</p>
				<p class="q2">致力于商业影像拍摄与品牌传播的专业品牌，专为母婴行业的媒体、企业提供平面拍摄、影视制作、公关策划、品牌整合与推广等一条龙服务。</p>
			</div>
		</div>
		<div class="copy">
			<img src="img/lv8.png" class="l"/>
			<div class="ri l">
				<p class="q1">爱的果实·蓁爱月子会所     邀您尊享360︒全方位月子生活</p>
				<p class="q2">专业打造360°全方位月子生活的标杆品牌，专为0—3个月的产妇、宝宝提供专业全面的月子生活服务。</p>
			</div>
		</div>
	</div>