<style type="text/css">
		.ithe{height:40px;width:933px;font-size:17px;margin-bottom:15px;line-height:40px;color:#323232;marign-top:5px;}
		.lm{color:#fe7179}
		.ln{color:#a8a8a8;}
		.iu1{font-size:14px;line-height:30px;height:30px;}
		.iu2{font-size:14px;line-height:42px;height:42px;margin-bottom:12px;}
		.map{width:795px;}
		.ink{font-size:18px;height:89px;line-height:89px;margin-top:9px;}
		#wdian{width:795px;height:320px;margin-bottom:60px;}
		#wdian .lft,#wdian .rgt{width:390px;height:320px;}
		#wdian img{width:390px;height:230px;margin-bottom:25px;}
		#wdian .titv{font-size:18px;line-height:18px;height:18px;color:#ff777f}
		#wdian .huob{font-size:14px;line-height:40px;height:40px;color:#7f7f7f}
</style>
	<div class="ithe">总部联系方式</div>
	<div class="ithe lm">亦蓁母婴集团</div>
	<div class="iu1 ln">服务热线：&nbsp;400-668-0707 </div>
	<div class="iu2 ln">总部地址：&nbsp;上海市闵行区罗锦路42号亦蓁母婴集团</div>
	<img src="img/map.png" class="map"/>
	<p class="ink">全国服务网点</p>
	<div id="wdian">
		<div class="lft l">
			<img src="img/wd4.png"/>
			<p class="titv">好娘家上海杨浦店</p>
			<p class="huob">上海市杨浦区沈阳路55号（红房子妇产科医院对面）</p>
		</div>
		<div class="rgt r">
			<img src="img/wd5.png"/>
			<p class="titv">好娘家多伦路店</p>
			<p class="huob">上海虹桥区多伦路240号</p>
		</div>
	</div>
