<link rel="stylesheet" type="text/css" href="views/commonArea/css/footer.css"/>
<div id="bottom_footer">
	<div class="w">
		<div id="fl_left" class="l">
			<img class="ing_lt l" src="img/foot.png" style="cursor: pointer;"/>
		</div>
		<div id="fl_right" class="l">
			<ul class="ulFir">
				<li class="r lat">关于我们</li>
				<li class="r coo">合作加盟</li>
				<li class="r tean">月嫂风采</li>
				<li class="r ser">月嫂服务</li>
				<li class="r inde">首页</li>
			</ul>
			<p class="pp">公司地址:上海市闵行区 罗锦路42号  &nbsp;西岸蓝海2号楼（亦蓁母婴中心）</p>
			<p class="pp2">好娘家专业母婴护理 &nbsp;&nbsp;沪ICP备12011925号-2</p>
		</div>
		<img src="img/bnb.png" class="r" style="margin-top:60px;"/>
		<a class="cli_btn" href="http://ala.zoosnet.net/LR/Chatpre.aspx?id=ALA86438417&lng=cn" target="_blank">立即咨询 ></a>
	</div>
</div>
<script type="text/javascript">
	$(".ing_lt").click(function(){
		window.location.href = "#/index"
	})
	$("li.inde").click(function(){
		window.location.href = "#/index"
	})
	$("li.ser").click(function(){
		window.location.href = "#/ServiceMatron"
	})
	$("li.tean").click(function(){
		window.location.href = "#/TeamMatron"
	})
	$("li.coo").click(function(){
		window.location.href = "#/Cooperation"
	})
	$("li.lat").click(function(){
		window.location.href = "#/AboutUs"
	})
</script>