<link rel="stylesheet" type="text/css" href="views/commonArea/css/header.css"/>
<div id="top_header">
	<div class="w">
		<div id="float_left" class="l">
			<img class="ing_lt l" src="img/logo.png" style="cursor: pointer;"/>
		</div>
		<div class="tel_phone r"></div>
		<div id="float_right" class="r">
			<ul class="headUl">
				<li class="r w1">关于我们</li>
				<li class="r w2">合作加盟</li>
				<li class="r w3">月嫂风采</li>
				<li class="r w4">月嫂服务</li>
				<li class="r w5">首页</li>
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">
	var hash = window.location.hash.split("/")[1];
	hash.indexOf("?") > 0 ?hash = hash.split("?")[0] :hash;
	//console.log(hash)
	var $li = $(".headUl li");
	if(hash=="" || hash=="News"){
		cssn(".headUl li:not(.w5)",4)
	}else if(hash=="ServiceMatron"){
		cssn(".headUl li:not(.w4)",3)
	}else if(hash=="TeamMatron"){
		cssn(".headUl li:not(.w3)",2)
	}else if(hash=="Cooperation"){
		cssn(".headUl li:not(.w2)",1)
	}else if(hash=="AboutUs" || hash =="newDetial"){
		cssn(".headUl li:not(.w1)",0)
	}
	else{
		cssn(".headUl li:not(.w5)",4)
	}	
	
	function cssn(obj,num){
		$li.eq(num).css({"color":"#ed5259","font-weight":"bold","border-bottom":"3px solid #ff7077"})
		$(obj).mouseenter(function(){
			$(this).css({"color":"#ed5259","font-weight":"bold","border-bottom":"3px solid #ff7077"}).siblings().css({"color":"#333333","font-weight":"normal","border":"0"})
			$li.eq(num).css({"color":"#ed5259","font-weight":"bold","border-bottom":"3px solid #ff7077"})
		})
		$(obj).mouseleave(function(){
			$(this).css({"color":"#333333","font-weight":"normal","border":"0"})
		})
	}

	$(".ing_lt").click(function(){
		window.location.href = "#/index"
	})
	$("li").eq(4).click(function(){
		window.location.href = "#/index"
	})
	$("li").eq(3).click(function(){
		window.location.href = "#/ServiceMatron"
	})
	$("li").eq(2).click(function(){
		window.location.href = "#/TeamMatron"
	})
	$("li").eq(1).click(function(){
		window.location.href = "#/Cooperation"
	})
	$("li").eq(0).click(function(){
		window.location.href = "#/AboutUs"
	})
	function css(abs){
		abs.css({"color":"#ed5259","font-weight":"bold","border-bottom":"3px solid #ff7077"}).siblings().css({"color":"#333333","font-weight":"normal","border":"0"})
	}
</script>