<style type="text/css">
[content2]{height:254px;width:898px;margin-bottom:64px;background:#f8f8f8;}
[content2] img{width:380px;height:260px;float:left;}
[content2] .dont{width:470px;height:180px;float:left;padding-left:48px;padding-top:16px;}
[content2] .dont p{height:55px;line-height:55px;font-size:20px;color:#000000}
[content2] .dont div{width:374px;font-size:14px;line-height:24px;color:#939393}	
#intrim{width:898px;height:500px;margin-bottom:60px;}
 .one{width:100%;height:248px;margin-bottom:38px;}
 .one img{width:177px;height:210px;margin-right:58px;}
 .one p{font-size:18px;line-height:22px;height:22px;color:#000;}
 .one p span{margin-left:14px;}
 .one .cheng{font-size:14px;height:18px;line-height:24px;color:#666666;margin-bottom:18px;}
 .one .contc{font-size:14px;height:24px;line-height:24px;color:#949494}
</style>
	<div content2="con2">
		<img src="img/lop.png"/>
		<div class="dont">
			<p>高管团队</p>
			<div>毕业于浙江大学、复旦大学、同济大学、财经大学等知名高校的学士、硕士、博士，受聘于国内外500强企业高管要职，十年以上相关领域成功从业履历。</div>
		</div>
	</div>
	

	<div id="intrim">
		<div class="one">
			<img src="img/yu.png" class="l"/>
				<p>俞蓓芬<span>JOYCE YU</span></p>
				<div class="cheng">董事长</div>
			<div class="contc">
				浙江大学 法学学士、管理学硕士<br/>
				精通法语、英语、日语<br/>
				曾就职于上海人民政府，负责文化产业项目<br/>
				深谙企业运营管理之道，9年打造估值20亿的一站式<br/>
				母婴服务领军企业，集团旗下近50家直营连锁门店遍<br/>
				布全国，8大高端母婴品牌服务客户逾23万
			</div>
		</div>
		<div class="one">
			<img src="img/ling.png" class="l"/>
				<p>凌俊杰<span>Aaron Ling</span></p>
				<div class="cheng">巴沃资本创始人</div>
			<div class="contc">
				曾任职宋城七弦股权投资管理有限公司执行总裁，受<br/>
				聘央视、各大卫视、报刊等媒体的知名财经嘉宾。近<br/>
				20年投资从业履历，拥有丰富的资本运作、投资并购、<br/>
				上市重组的成功经验。现任亦蓁集团战略主席。
			</div>
		</div>
	</div>
	
	<div content2="con3">
		<img src="img/jishu.png"/>
		<div class="dont">
			<p>技术团队</p>
			<div>近500名门店从业人员，97%毕业于各省市医学院的护理、<br/>中医、康复医学、临床医学等专业，5-8年临床护士、医生、<br/>中医保健师等从业履历。</div>
		</div>
	</div>
	
		<div class="one">
			<img src="img/m1.png" class="l"/>
				<p>徐兆慧<span>ZHAOHUI XU</span></p>
				<div class="cheng">母婴保健专家</div>
			<div class="contc">
				资深妇产医生，上海国妇婴妇产科38年临床经验，擅长妇产科、儿科各类常见疾病的诊治<br/>与健康干预。现任亦蓁集团母婴保健专家
			</div>
		</div>
		<div class="one">
			<img src="img/m2.png" class="l"/>
				<p>徐红莲<span>Lian Xu</span></p>
				<div class="cheng">营养专家</div>
			<div class="contc">
				公共营养师三级、育婴师三级、心理咨询师三级。拥有扎实的孕产婴童营养配餐、心理辅<br/>导经验。现任亦蓁集团营养学科带头人。
			</div>
		</div>
		<div class="one">
			<img src="img/m3.png" class="l"/>
				<p>汤国洁<span>Summer Tang</span></p>
				<div class="cheng">产后技术总监</div>
			<div class="contc">
				上海中医药大学 中医学硕士<br/>拥有丰富的孕产女性调理实战经验现任亦蓁集团产后技术总监。
			</div>
		</div>
		<div class="one">
			<img src="img/m4.png" class="l"/>
				<p>顾歌<span>ZHAOHUI XU</span></p>
				<div class="cheng">亦蓁母婴特聘心理专家</div>
			<div class="contc">
				中华全国员工帮助发展研究中心副主任、研究员复旦大学、交通大学等著名高校特约心理学<br/>教授《我们结婚吧》《相约星期六》等知名栏目特约心理专家《一个抑郁男孩的30个小时》《梦醒时分解梦》作者
			</div>
		</div>
		<div class="one">
			<img src="img/m5.png" class="l"/>
				<p>吕赟鑫<span>Lv Yun Xin</span></p>
				<div class="cheng">亦蓁母婴特聘孕产指导教练</div>
			<div class="contc">
				国家羽毛球青年队体能教练<br/>国家女子拳击青年队体能教练<br/>国家级健身指导员<br/>国家二级运动员<br/>体能培训专家讲师
			</div>
		</div>
		<div class="one">
			<img src="img/m6.png" class="l"/>
				<p>尚文业<span>Lian Xu</span></p>
				<div class="cheng">教授</div>
			<div class="contc">
				中国中央保健局资深顾问<br/>国家领导人御用保健师<br/>复旦大学国际文化交流学院特聘中医教授
			</div>
		</div>
		
	<div content2="con4">
		<img src="img/jishu.png"/>
		<div class="dont">
			<p>客服团队</p>
			<div>总部近200名训练有素的后勤与客服团队，全天候在岗，及<br/>时响应客户需求。</div>
		</div>
	</div>
