<style type="text/css">
.two{width:933px;height:156px;margin-bottom:33px;}
.two img{width:280px;height:156px;margin-right:48px;cursor: pointer;}	
.two .ri{width:605px;height:156px;}
.two .ri .topH{width:605px;height:54px;line-height:54px;font-size:16px;margin-bottom:3px;}
.two .ri .bottCon{line-height:24px;height:24px;color:#676767;font-size:14px;}
.tiam{cursor: pointer;}
</style>
<div class="two"><a href="#/newDetial?new3">
	<img src="img/ww03.png" class="l"/>
	<div class="ri r">
		<div class="topH">
			<p class="tiam l">好娘家第一期加盟商管理培训班开讲啦</p>
			<p class="date r">06-08</p>
		</div>
		<div class="bottCon">亦蓁母婴集团旗下“好娘家”月嫂品牌第一期加盟商门店管理培训班于2017年6月8日正式启动啦...</div>
	</div></a>
</div>
<div class="two"><a href="#/newDetial?new1">
	<img src="img/ww1.png" class="l"/>
	<div class="ri r">
		<div class="topH">
			<p class="tiam l">90后海归金融才女回国创业，加盟好娘家进军月嫂行业</p>
			<p class="date r">05-19</p>
		</div>
		<div class="bottCon">2017年4月6日下午，系出名门的专业月嫂品牌好娘家加盟事业再拓新局，浙江东阳加盟店的签约又掀好娘家全国连锁新篇。据悉，这位好娘家加盟商陈小姐的履历可谓精彩，标签可谓鲜明...</div>
	</div></a>
</div>
<div class="two"><a href="#/newDetial?new2">
	<img src="img/ww2.png" class="l"/>
	<div class="ri r">
		<div class="topH">
			<p class="tiam l">生娃红房子，月嫂好娘家</p>
			<p class="date r">05-19</p>
		</div>
		<div class="bottCon">2017年4月22日，亦蓁母婴旗下好娘家专业月嫂首家直营门店隆重开业，落户上海市杨浦区红房子妇幼保健院对面...</div>
	</div></a>
</div>
<div class="two"><a href="#/newDetial?new4">
	<img src="img/ww4.png" class="l"/>
	<div class="ri r">
		<div class="topH">
			<p class="tiam l">央视曝光不规则月嫂乱象 亦蓁母婴致力打造规范母婴服务标准</p>
			<p class="date r">2017-03-20</p>
		</div>
		<div class="bottCon">一年一度的维权大戏如期登台，打假维权成为了广大消费者最为关心的热点。今年央视315晚会惊曝不规范的月嫂机构从业乱象，“月嫂证”竟是“山寨造”，让人触目惊心、唏嘘不已...</div>
	</div></a>
</div>
<div class="two"><a href="#/newDetial?new5">
	<img src="img/ww5.png" class="l"/>
	<div class="ri r">
		<div class="topH">
			<p class="tiam l">从浙大学霸校花到上海市杰出青商，看亦蓁母婴...</p>
			<p class="date r">2016-11-21</p>
		</div>
		<div class="bottCon">2500多名员工、6000平米总部、估值逾20亿人民币的母婴服务龙头企业、全国近50家直营连锁门店入驻各地标性建筑，这些庞大的数据背后，站着的是一位美丽知性的女子...</div>
	</div></a>
</div>
<div class="two"><a href="#/newDetial?new6">
	<img src="img/ww6.png" class="l"/>
	<div class="ri r">
		<div class="topH">
			<p class="tiam l">月嫂行业如何实现“把月子中心带回家”</p>
			<p class="date r">2016-06-14</p>
		</div>
		<div class="bottCon">这两年品牌月嫂的经营理念已经获得了市场的认可，伴随着品牌月嫂的大热，一句行业里面的slogan：“把月子中心带回家”也成为行业里的热门标语...</div>
	</div></a>
</div>
<div class="two"><a href="#/newDetial?new7">
	<img src="img/ww8.png" class="l"/>
	<div class="ri r">
		<div class="topH">
			<p class="tiam l">亦蓁母婴“为爱行走”感恩最美母亲</p>
			<p class="date r">2016-05-18</p>
		</div>
		<div class="bottCon">传统家政行业的服务问题一直没有跳出过生活舆论的焦点，可总是负面颇多，人们不停的在诟病阿姨的不专业，戏说月嫂工作的不认真...</div>
	</div></a>
</div>
<div class="two"><a href="#/newDetial?new8">
	<img src="img/ww9.png" class="l"/>
	<div class="ri r">
		<div class="topH">
			<p class="tiam l">[亦蓁母婴]俞蓓芬：优秀是一种习惯</p>
			<p class="date r">2016-05-06</p>
		</div>
		<div class="bottCon">一个明媚周末午后，约见了亦蓁母婴董事长俞蓓芬。马尾辫，简洁款白连衣裙，加上174厘米的骨感身材和光洁紧致的面容，艳阳下远远走来就是一个清秀少女...</div>
	</div></a>
</div>
<div class="two"><a href="#/newDetial?new9">
	<img src="img/ww10.png" class="l"/>
	<div class="ri r">
		<div class="topH">
			<p class="tiam l">与爱相随，一次温暖的春日约会 ——亦蓁董事长俞蓓芬...</p>
			<p class="date r">2016-04-05</p>
		</div>
		<div class="bottCon">随着国家二胎政策的放开，更多80后、90后陆续进入生育高峰，市场蓬勃的发展与繁荣，让更多资本市场关注这一行业，而大品牌、好口碑的母婴一站式服务平台开始凸显“马太效应”</div>
	</div></a>
</div>
<div class="two"><a href="#/newDetial?new10">
	<img src="img/ww11.png" class="l"/>
	<div class="ri r">
		<div class="topH">
			<p class="tiam l">亦蓁母婴集团董事长俞蓓芬：“学霸”女总裁的进击之旅</p>
			<p class="date r">2016-01-20</p>
		</div>
		<div class="bottCon">“If I get married，I want to be very married（如果我结婚，我想深入婚姻之中）.”这句话是奥黛丽·赫本的名言。谈及婚姻，我们的脑海中大概会蹦出许多词汇...</div>
	</div>
</div>
