<style type="text/css">
	.then img{float:left;}
	.year{float:left;width:72px;height:80px;color:#fe7177;font-size:23px;text-align:right;padding-top:2px;}
	.conth{float:left;width:784px;height:82px;}
	.datem{font-size:12px;height:37px;line-height:38px;color:#ff6f78;}
	.nael{width:790px;color:#242424;font-size:14px;height:25px;line-height:25px;}
</style>
<div class="then">
	<p class="year">2017</p>	
	<img src="img/rr1.png"/>
	<div class="conth">
		<p class="datem">2017年5月</p>
		<p class="nael">亦蓁母婴多伦路旗舰会所盛大开幕，上海电视台、腾讯、优酷、搜狐、新浪等媒体专访报道。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2017年4月</p>
		<p class="nael">好娘家品牌直营店（上海红房子店）盛大开幕，好娘家加盟连锁事业正式启动。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2017年4月</p>
		<p class="nael">上海蓁爱公益基金会正式启动。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2017年3月</p>
		<p class="nael">亦蓁母婴杭大B座会所同楼乔迁，再掀热潮。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2017年3月</p>
		<p class="nael">亦蓁母婴董事长俞蓓芬联合发起由杭州市政府指导的“她公益”。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2017年2月</p>
		<p class="nael">亦蓁母婴荣获“全国315质量服务客户满意AAAAA级诚信企业”称号。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2017年1月</p>
		<p class="nael">杭州一套综合频道《财经第一线》之天下杭商专访亦蓁母婴董事长俞蓓芬，赢得广泛赞誉。</p>
	</div>
</div>

<div class="then">
	<p class="year">2016</p>	
	<img src="img/rr1.png"/>
	<div class="conth">
		<p class="datem">2016年2月</p>
		<p class="nael">亦蓁母婴董事长俞蓓芬荣获青年企业家协会颁发的2015年度“青年优秀企业家”称号。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2016年4月</p>
		<p class="nael">亦蓁母婴启动“七城联动·为爱行走”公益活动</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2016年5月</p>
		<p class="nael">杭州《每日商报》专题报道：俞蓓芬，优秀是一种习惯（九年打造估值10亿母婴产业帝国 她是“辣妈潮宝背后的辣妈”）<br/> Top lady 励媛汇人物专栏报道：《欢乐颂》安迪式的女神总裁在杭州也有现实版，而且更励志更成功。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2016年5月</p>
		<p class="nael">亦蓁母婴举办“七城联动·为爱行走”大型公益行走活动。新浪《新闻中心》报道：亦蓁母婴“为爱行走”感恩最美母亲。同月，亦蓁母婴获上海市“诚信创建企业”称号。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2016年6月</p>
		<p class="nael">《中国网 生活消费》报道：金牌月嫂 爱的果实月嫂是如何培训的。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2016年6月</p>
		<p class="nael">《中国新闻网》报道：月嫂行业如何实现“把月子中心带回家”。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2016年7月</p>
		<p class="nael">今日头条》优选播报：爱的果实，月嫂公司十强品牌排名第一。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2016年7月</p>
		<p class="nael">亦蓁母婴借力杭州互联网高地的人才优势，盛大启幕集团旗下蓁爱网络科技公司。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2016年7月</p>
		<p class="nael">亦蓁母婴董事长俞蓓芬作为首席演讲嘉宾受邀出席《女性领导力演讲分享会》，杭州日报、19楼、都市快报、钱江晚报等争相报道。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2016年8月</p>
		<p class="nael">亦蓁母婴宁波天一会所盛大启幕。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2016年8月</p>
		<p class="nael">亦蓁母婴全体员工为重症月嫂捐款逾5万；储备主管顶着炎炎夏日慰问环卫工。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2016年9月</p>
		<p class="nael">亦蓁母婴杭州西子国际会所盛大启幕。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2016年10月</p>
		<p class="nael">上海亦蓁实业有限公司党支部正式成立。同月，亦蓁母婴宁波分公司获“诚信企业”称号。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2016年10月</p>
		<p class="nael">2017春夏上海时装周特邀芝麻开门全程执镜。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2016年11月</p>
		<p class="nael">亦蓁母婴董事长俞蓓芬荣获“上海十大杰出青商”称号。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2016年12月</p>
		<p class="nael">亦蓁母婴坚定走向全国市场，Cocodemer北京金宝汇会所隆重开业。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2016年12月</p>
		<p class="nael">亦蓁母婴董事长俞蓓芬被选为政协闵行区第六届委员会委员。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2016年12月</p>
		<p class="nael">亦蓁母婴董事长俞蓓芬应邀录制东方财经《我们正青春》演讲节目，赢得一致好评。</p>
	</div>
</div>
<div class="then">
	<p class="year">2015</p>	
	<img src="img/rr1.png"/>
	<div class="conth">
		<p class="datem">2015年2月</p>
		<p class="nael">亦蓁母婴集团总部顺利乔迁至罗锦路西岸蓝海园区6000平米五层办公大楼。Cocolove爱的果实母婴护理人员突破2000人，宿舍乔迁至总部。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2015年2月</p>
		<p class="nael">Cocodemer杭州西城会所盛大开业。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2015年3月</p>
		<p class="nael">Cocohome好娘家专业母婴护理品牌诞生。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2015年4月</p>
		<p class="nael">亦蓁母婴成功并购高端儿童摄影品牌乐格思与芝麻开门。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2015年4月</p>
		<p class="nael">Cocodemer杭州大厦D座会所盛大开业。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2015年5月</p>
		<p class="nael">Cocodemer&Cocoyoyo绍兴世茂百盛会所扩容乔迁。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2015年6月</p>
		<p class="nael">Cocoyoyo&芝麻开门宁波世纪东方店盛大开业。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2015年7月</p>
		<p class="nael">Cocoyoyo与芝麻开门港汇店正式合并、完成了门头改建。同月，亦蓁母婴集团与天使宝贝基金签约大规模致力于儿童公益慈善事业。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2015年8月</p>
		<p class="nael">爱的果实·蓁爱月子会所、亦蓁母婴生活中心盛大启幕。同月，亦蓁母婴携天使宝贝公益首次公益讲座起航。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2015年9月</p>
		<p class="nael">芝麻开门杭州大厦D座店盛大开业；大宁乐格思成功完成门头改建，芝麻开门大宁店强势回归。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2015年10月</p>
		<p class="nael">Cocodemer金虹桥会所盛大开业。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2015年12月</p>
		<p class="nael">亦蓁母婴上海徐汇会所盛大启幕，亦蓁母婴发展史上第一家独栋沿街旗舰店惊艳亮相。</p>
	</div>
</div>
<div class="then">
	<p class="year">2014</p>	
	<img src="img/rr1.png"/>
	<div class="conth">
		<p class="datem">2014年1月</p>
		<p class="nael">Cocoyoyo婴童生活城西店开业</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2014年3月</p>
		<p class="nael">亦蓁母婴斥资数千万在全球范围甄选的最尖端孕产养护设备正式在所有门店投入使用。同月，Cocoyoyo婴童生活宁波店盛大启幕。</p>
	</div>
</div>
<div class="then">
	<p class="year">2014</p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2014年6月</p>
		<p class="nael">Cocohappy亦生蓁品诞生，作为臻品定制纪念品品牌填补了亦蓁母婴自有产品空白。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2014年7月</p>
		<p class="nael">亦蓁母婴杭州大厦会所、宁波金光会所相继开幕，美通社、腾讯、新浪、网易、搜狐等69家媒体争相报导。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2014年9月</p>
		<p class="nael">亦蓁母婴南京德基会所、上海正大会所盛大启幕，特色婴童理发博得众多家长青睐，引起两地主流媒体密切关注报导。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2014年10月</p>
		<p class="nael">亦蓁母婴携手法国Lá-VALUA共同推出的系列高端护肤品正式问世。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2014年11月</p>
		<p class="nael">《蓁•爱》内刊报纸改版为平台化季刊杂志的创刊号诞生。</p>
	</div>
</div>
<div class="then">
	<p class="year">2013</p>	
	<img src="img/rr1.png"/>
	<div class="conth">
		<p class="datem">2013年1月</p>
		<p class="nael">Cocoyoyo婴童生活港汇店开幕，Cocoyoyo正式作为一个品牌开始投入运营</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2013年4月</p>
		<p class="nael">Cocolove爱的果实育婴师项目启动</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2013年5月</p>
		<p class="nael">Cocodemer产后修复专家无锡会所开业，当地主流媒体竞相报导</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2013年8月</p>
		<p class="nael">Cocolove爱的果实服务升级，客户好评如潮</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2013年9月</p>
		<p class="nael">亦蓁集团总部搬迁至上海淮海西路1000平面的甲级写字楼</p>
	</div>
</div>

<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2013年10月</p>
		<p class="nael">蓁•爱》内刊报纸第一期问世</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2013年12月</p>
		<p class="nael">Cocolove爱的果实母婴护理人员超过700人</p>
	</div>
</div>
<div class="then">
	<p class="year">2012</p>	
	<img src="img/rr1.png"/>
	<div class="conth">
		<p class="datem">2012年1月</p>
		<p class="nael">Cocolove爱的果实母婴私家护理项目正式启动，拉开了亦蓁母婴全服务产业链的序幕</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2012年8月</p>
		<p class="nael">绍兴世茂百盛会所开业，这是亦蓁史上第一家Cocodemer与Cocoyoyo相结合的门店</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2012年11月</p>
		<p class="nael">Cocodemer产后修复专家入住上海地标性建筑金茂大厦和恒隆港汇广场</p>
	</div>
</div>
<div class="then">
	<p class="year">2011</p>	
	<img src="img/rr1.png"/>
	<div class="conth">
		<p class="datem">2011年1月</p>
		<p class="nael">Cocodemer产后修复专家杭州城西会所开业</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2011年3月</p>
		<p class="nael">Cocodemer产后修复专家杭州萧山会所开业</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2011年5月</p>
		<p class="nael">Cocodemer被丫丫网数十万网友评为“2010年度上海妈妈最爱产后瘦身”品牌。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2011年7月</p>
		<p class="nael">Cocodemer在官方微博上发起“37度奶牛妈妈签名活动”，受到了“人民网”、“新民网”等全国上百家网站的关注。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2011年8月</p>
		<p class="nael">Cocodemer赞助由杭州主流媒体举办的“关注自闭症儿童活动”。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2011年10月</p>
		<p class="nael">Cocodemer产后修复专家应邀落户苏州金鸡湖畔的文化艺术中心，被《姑苏晚报》、《苏州日报》和苏州电视台评论为“将为人间天堂里带来最美的妈妈”。</p>
	</div>
</div>
<div class="then">
	<p class="year">2010</p>	
	<img src="img/rr1.png"/>
	<div class="conth">
		<p class="datem">2010年3月</p>
		<p class="nael">杭州《都市快报》策划的“三八节”活动特邀Cocodemer产后修复专家进行品牌合作。 2010年3月，上海最高端社区的媒介《联洋社区报》携手Cocodemer策划了针对高端产后人群的系列活动。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2010年4月</p>
		<p class="nael">上海《申江服务导报》向产后妈妈推荐高端产后修复品牌Cocodemer。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2010年4月</p>
		<p class="nael">杭州《都市快报》报道了潮妈体验Cocodemer高科技、高品质产后修复后带来的喜悦。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2010年5月</p>
		<p class="nael">Cocodemer产后修复专家针对母亲节组织的“时尚辣妈下午茶”活动，得到了上海《新闻晨报》、《新浪网》、《ONLYLADY》、上海电视台《星尚》频道等多家媒体的报道和关注。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2010年6月</p>
		<p class="nael">Cocodemer产后修复专家成为全国发行量最高的报纸上海《新民晚报》健康时尚栏目的专业母婴顾问机构，向读者介绍和分析了明星产后恢复的解决方案。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2010年12月</p>
		<p class="nael">Cocodemer与杭州主流媒体《都市快报》和19楼网络联合举办杭城最大规模的“辣妈亲子秀”，得到了杭州妈妈的高度评价</p>
	</div>
</div>

<div class="then">
	<p class="year">2009</p>	
	<img src="img/rr1.png"/>
	<div class="conth">
		<p class="datem">2009年4月</p>
		<p class="nael">Cocodemer上海联洋店尊贵起航，引领产后修复“头等舱”之旅。《申江服务导报》半版报道了开幕庆典与品牌概念的传递活动。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2009年10月</p>
		<p class="nael">在上海取得巨大成功的Cocodemer产后修复专家登陆杭州，《青年时报》推出“天价产后修复登陆杭州”的报道，密切关注产后恢复行业的最高端品牌Cocodemer的动向。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2009年11月</p>
		<p class="nael">杭州《都市周报》专访Cocodemer负责人Joyce，向读者展现了一个品牌成功背后的故事。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2009年12月</p>
		<p class="nael">在杭州掀起产后恢复风暴的Cocodemer得到了《钱江晚报》的关注，Cocodemer产后修复新概念得到主流媒体的认同。</p>
	</div>
</div>
<div class="then">
	<p class="year">2008</p>	
	<img src="img/rr1.png"/>
	<div class="conth">
		<p class="datem">2008年2月</p>
		<p class="nael">Cocodemer产后修复专家进入中国市场，《星尚传媒》独家采访报道，迈开了国内“产后修复”市场的崭新之路。</p>
	</div>
</div>
<div class="then">
	<p class="year"></p>	
	<img src="img/rr.png"/>
	<div class="conth">
		<p class="datem">2008年4月</p>
		<p class="nael">Cocodemer顶级产后修复品牌登陆上海，上海古北店隆重开幕，引起了《外滩画报》、《Nobless》、《上海一周》等多家主流媒体的关注。</p>
	</div>
</div>
<div style="height:80px;width:1200px;margin:0 auto;float:left;"></div>

