#top_header{height:100px;background: #fff;}
#float_left{width:350px;height:100%;}
#float_right{width:550px;height:100%;}
#float_right ul li{height:100px;line-height:100px;margin-left:50px;font-size:16px;cursor: pointer;}
.headUl li{box-sizing: border-box;}
#top_header .w{width:1410px;}
.tel_phone{width:210px;height:100px;background:url(../../../img/tel.png) no-repeat 0px -7px;background-size:100%;}

