#top_header{height:100px;background: #fff;}
#float_left{width:350px;height:100%;}
#float_right{width:550px;height:100%;}
#float_right ul li{height:100px;line-height:100px;margin-left:50px;font-size:16px;cursor: pointer;}
.headUl li{box-sizing: border-box;}
.numb{width:210px;height:60px;margin-left:43px;padding-top:40px;position: relative;}
.numb .h_num{width:115px;height:22px;font-size:16px;line-height:22px;position: absolute;background: #fff;right:0;top:39px;color:#ff696a}
