<link rel="stylesheet" type="text/css" href="views/newDetial/newDetial.css"/>
<P ng-include="'views/commonArea/html/header.html'"></P>
<P ng-include="'views/commonArea/html/rightScrollBlock.html'"></P>

	<div id="banTun">
		<img ng-src="{{newDetailImg}}" style="width:100%;max-height: 500px;"/>
		<div id="naver" class="w">
			<a href="#/index">您的位置： 首页 - </a><b ng-click="bbm()")>关于我们 -</b><b ng-click="aam()")>好娘家资讯 - </b> <span class="nk">资讯详情</span>
		</div>
	</div>
<div class="w contm"></div>
<P ng-include="'views/commonArea/html/footer.html'"></P>
<P ng-include="'views/commonArea/html/baidutongji.html'"></P>

