<link rel="stylesheet" type="text/css" href="views/News/News.css"/>
<link rel="stylesheet" type="text/css" href="css/double-date.css"/>
<P ng-include="'views/commonArea/html/header.html'"></P>
<P ng-include="'views/commonArea/html/rightScrollBlock.html'"></P>
	<div id="banTun">
		<div id="naver" class="w">
			<a href="#/index">您的位置： 首页 - </a><span>预约月嫂</span>
		</div>
	</div>
	<div id="hunm" class="w">
		<div class="zuo l">
			<p class="yued">预约月嫂</p>
			<img src="img/sss.png"/>
			<div class="kn">现在填写预约信息，您将享受三大预约特权：<br/>
				1、预定加送专业绑腹带一条；<br/>
				2、提前享受母婴顾问一对一服务；<br/>
				3、优先进入月嫂派工匹配，更能匹配到满意月嫂。
			</div>
			<div class="nR">
				<span class="mz l"><b>*</b>姓名</span>
				<input type="text" placeholder="李美丽" class="inpm oc1" />
			</div>
			<div class="nR">
				<span class="mz l"><b>*</b>电话</span>
				<input type="text" placeholder="" class="inpm oc2" />
			</div>
			<!---->
			<div class="nR">
				<span class="mz l"><b>*</b>所在城市</span>
				
				<div id="localName">
					<select name="province"></select>
					<select name="city"></select>
					<select name="area"></select>
				</div>
				<p>亦蓁母婴承诺您的个人信息不会被泄露，请放心填写。</p>
			</div>
			<!---->
			
			<div class="subm">
				<div class="submitm l" ng-click="lost()">预约享好礼</div>
				<p>"<span>*</span>"为必填</p>
			</div>
			<div id="float_yuyeu">
				<div class="nR">
					<span class="mz l"><b>*</b>预产期</span>
					<!--<input name="control_date" class="inpm oc3" type="text" id="control_date" size="10" maxlength="10" onClick="new Calendar().show(this);" />-->
				    <div class="date">
				        <input type="text" class="date-check inpm oc3" style="width:450px;border-color:rgb(169, 169, 169);"/>
				    </div>
				    <div class="date fr" id="to">
				        <input type="text" class="date-check" style="display:none;"/>
				    </div>

				</div>
				<div class="nR" style="margin-bottom:64px;">
					<span class="mz l">预约级别</span>
					<select name="status" class="oc8">
						<option>经济型</option>
						<option>舒适型</option>
						<option>尊享型</option>
					</select>
				</div>
			<div class="subm">
				<div class="submitm l" ng-click="subTn()">提交</div>
				<p>"<span>*</span>"为必填</p>
			</div>	
			
			</div>
		</div>

			<div id="box_ri"  contbox="a4">
				<img src="img/jilu.png" style="width:100%;"/>
				<div id="demoScro" ng-mouseenter="mouover()" ng-mouseleave = "mouleave()">
				  <div id="demoScro1" >
				    <ul id="express">
				    	<li ng-repeat="i in shopList"><a><b>{{i.name}}</b>({{i.cellPhone}}) <span>{{i.createdTime}}</span><p>预约 {{i.level}}服务 26天，预产期{{i.preBirthTime}}月</p></a></li>             
						<li><br/></li><li><br/></li><li><br/></li><li><br/></li><li><br/></li><li><br/></li>
						<li><br/></li><li><br/></li><li><br/></li><li><br/></li><li><br/></li><li><br/></li>
						<li><br/></li><li><br/></li><li><br/></li><li><br/></li><li><br/></li><li><br/></li>
				    </ul>
				  </div>
				  <div id="demoScro2"></div>
				</div>				
				
				
			<div class="botomm"></div>	
			</div>

	</div>

<P ng-include="'views/commonArea/html/footer.html'"></P>
<script type="text/javascript" src="js/PCASClass.js"></script>
<script type="text/javascript" src="js/double-date.js"></script>

